doc
html(lang='en')
head
    meta(charset='utf-8')     
    meta(http-equiv='X-UA-Compatible', content='IE=edge')     
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
    title P&B     
    link(rel='icon', href='', sizes='16x16', type='image/png')
    // Bootstrap
    link(href='/bootstrap/css/bootstrap.min.css', rel='stylesheet')  
    script(src="https://cdnjs.cloudflare.com/ajax/libs/slideout/0.1.9/slideout.min.js")  
    link(href='//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css', rel='stylesheet')
    meta(liber de amicitia est)
    meta(property="og:url"           content="https://peopleandbooks.com")
    meta(property="og:type"          content="website")
    meta(property="og:title"         content="People and Books")
    meta(property="og:description"   content="List items, find people.")
    meta(property="og:image"         content="http://peopleandbooks.com/images/pb_inf_logo.png")
    // HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
    script(src='/js/share.js')
    script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
    script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')     
    style.
      body {
      width: 100%;
      height: 100%;
      font: 100%/1.4em 'Calibre Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
      font-size:14;
      }
      .slideout-menu {
        background-color: #1D1F20;
        background-image: linear-gradient(145deg, #1D1F20, #404348);
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        z-index: 0;
        width: 256px;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        display: none;
      }
      .slideout-panel {
        position:relative;
        z-index: 1;
      }
      .slideout-open,
      .slideout-open body,
      .slideout-open .slideout-panel {
        overflow: hidden;
      }
      .slideout-open .slideout-menu {
        display: block;
      }
      .menu a {
        color: #fff;
      }
      .menu a:hover {
        text-decoration: underline;
      }
      .menu-header {
        border-bottom: 1px solid #2a2d2f;
        padding: 20px 0 20px 60px;
        background-size: 32px;
      }
      .menu-header-title {
        font-weight: 600;
        letter-spacing: 0.5px;
        margin: 0;
        font-size:18;
      }
      .menu-section {
        margin: 25px 0;
      }
      .menu-section-title {
        text-transform: uppercase;
        color: #85888d;
        font-weight: 200;
        font-size: 13px;
        letter-spacing: 1px;
        padding: 0 20px;
        margin:0;
      }
      .menu-section-list {
        padding:0;
        margin: 10px 0;
        list-style:none;
      }
      .menu-section-list a {
        font-family:boldproxima;
        text-transform: uppercase;
        color: #85888d;
        font-weight: 200 !important;
        font-size: 20px !important;
        letter-spacing: 1px;
        display: block;
        padding: 20px 20px;
      }
      .menu-section-list a:hover {
        background-color: rgba(255, 255, 255, 0.1);
        color:#fff !important;
        text-decoration: none;
      }
      #userimg {
      width:100%;
      max-width:200px;
      margin:30px;
      margin-left:50px;
      margin-right:50px;
      display:block;
      }
      #emptyavatar {
      width:193px;
      height:193px;
      border:7px dotted #eee;
      bakcground-color:white;
      border-radius:50%;
      }
      .emptybook {
      padding-left:23px;
      }
      .book h4 {
      color:black;
      }
      .book .col-xs-12 {
      border-bottom: 1px solid #eee;
      }
      .new{
        border-left:10px solid #333;
      }
      #booklist {
      border-top-right-radius:10px;
      border-bottom-right-radius:10px;
      }
      .list {
      overflow:auto;
      min-height:500px;
      max-height:70vh;
      text-align:center;
      padding-top:50px;
      }
      #signup {
        padding-top:50px;
        padding-bottom:100px;
      } 
      .dot-sm {
        color:#2E98F3;
        margin-right:13px;
      }
      @media (max-width: 992px) {
      #emptyavatar2 {
        margin:10px;
        height:130px;
        width:130px;
      }
      #userimg2 {
      height:130px;
      width:130px;
      margin:10px;
      }
      #booklist {
      border-bottom-left-radius:10px;
      }
      .things{
      padding-top:50px;
      }
      .list {
      padding-top:50px;
      }
      }
      @media (max-width: 767px) {
      .dot-sm {
        color:white;
      }
      li a {
        font-size:20px;
        letter-spacing:1px;
        padding-top:15px !important;
        padding-bottom:15px !important;
      }
      #mainframe {
      margin-top:0px;
      }
      .new{
        border-color:#ccc;
      }
      #bigscreens .book {
      border-bottom:1px solid #eee;
      text-align:center;
      padding-left:15px;
      padding-right:15px;
      }
      .emptybook {
      margin-left:0px;
      }
      #leftpanel {
      border-right:0px;
      }
      #booklist {
      border-bottom-left-radius:10px;
      }
      
      .list {
        max-height:inherit;
      }
      .paddgroup {
      padding-left:25px;
      padding-right:25px;
      }
      #signup {
        background-color:#333;
      }
      }
      @font-face {
      font-family:roboto-thin;
      src: url('/bootstrap/fonts/Roboto-Thin.ttf');
      }
      @font-face{
      font-family:proxima;
      src:url('/bootstrap/fonts/ProximaNova-Reg-webfont.woff');
      }
      @font-face{
      font-family:boldproxima;
      src:url('/bootstrap/fonts/ProximaNova-Sbold-webfont.woff');
      }
      .thin {
      height:85%;
      }
      .inleftblock {
      border-bottom:1px solid #eee;
      color:gray;
      -webkit-transition: background-color 0.3s ease;
      -moz-transition: background-color 0.3s ease;
      -o-transition: background-color 0.3s ease;
      transition: background-color 0.3s ease;
      }
      .inleftblock:hover {
      background-color: #ddd;
      color:white;
      }
      .inleftblock:hover h4 {
      color:white;
      }
      .glyphicon {
      margin-right:5px;
      }
      .btncorr {
      font-family:boldproxima;
      text-transform:uppercase;
      }
      .img-circle {
      -webkit-filter: brightness(0.9) contrast(1.2) saturate(1.2);
      -moz-filter: brightness(0.9) contrast(1.2) saturate(1.2);
      filter:brightness(0.9) contrast(1.2) saturate(1.2);
      }
      #heyopen {
      -webkit-box-shadow: inset 0px 7px 17px -9px rgba(0,0,0,0.75);
      -moz-box-shadow: inset 0px 7px 17px -9px rgba(0,0,0,0.75);
      box-shadow: inset 0px 7px 17px -9px rgba(0,0,0,0.75);
      }
      .btn-success:hover {
      background-color:#33AF5F;
      border:1px solid #33AF5F;
      } 
      a:hover, a:focus, a:active {
        text-decoration:none !important;
        color:inherit !important;
      }
      p{
        text-indent:20px;
        font-size:18px;
      }
      .cpadding {
       padding-left:30px;
       padding-right:30px;
      }
      .txtleft {
        text-align:left;
      }
      ol li {
      margin-bottom: 10px;
      font-size:18px;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      }
      #extra {
        display:none;
        background-color:#f5f5f5;
        padding-top:15px;
      }
      #add {
        display:none;
      }
      button:focus,button:active {
       outline: none !important;
      }
      .btn-default:focus,.btn-default:active {
         background-color:white;
         border-color:#ccc;
      }
      label {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      }
      .loader {
      margin: 60px auto;
      margin-top:20%;
      font-size: 10px;
      position: relative;
      text-indent: -9999em;
      border-top: 1.1em solid rgba(255, 255, 255, 0.2);
      border-right: 1.1em solid rgba(255, 255, 255, 0.2);
      border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
      border-left: 1.1em solid #ffffff;
      -webkit-transform: translateZ(0);
      -ms-transform: translateZ(0);
      transform: translateZ(0);
      -webkit-animation: load8 1.1s infinite linear;
      animation: load8 1.1s infinite linear;
      }
      .loader,
      .loader:after {
        border-radius: 50%;
        width: 10em;
        height: 10em;
      }
      @-webkit-keyframes load8 {
        0% {
          -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
        }
        100% {
          -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
        }
      }
      @keyframes load8 {
        0% {
          -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
        }
        100% {
          -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
        }
      }
      .autocomp {
      display:none;
      background-color: white;
      border-radius: 3px;
      margin-left: 0px;
      margin-right: 0px;
      padding-top:3px;
      padding-bottom:3px;
      border: 1px solid #ddd;
      position: absolute;
      max-width: 510;
      width: 100%;
      box-shadow: 1px 7px 30px #A09F9F;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      }
      .sritem:hover {
       background-color:#23A8E2;
       color:white;
      }
      .sritem {
        padding-top:3px;
        padding-bottom:3px;
      }
      #testinsert {
      font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
      }
      .hovershade:hover{
       background-color:#eee;
      }
      .slideover {
      display:none;
      z-index:8888;
      position:absolute;
      background-color:rgba(0,0,0,0.8);
      width:100%;
      text-align:center;
      }
      .btn-darkdefault{
       background:none;
       border:1px solid #ddd;
       color:white;
      }
      .btn-darkwarning{
       background:none;
       border:1px solid #ff9900;
       color:#ff9900;
      }
      .btn-darkdanger{
       background:none;
       border:1px solid red;
       color:red;
      }
      .btn-darkprimary{
       background:none;
       border:1px solid  #00C3FF;;
       color: #00C3FF;;
      }
      .btn.focus, .btn:focus, .btn:hover {
          text-decoration: none;
      }
      .btn-default{
       border:1px solid #ccc !important;
       color:#bbb;
       background:none;
      }
      .btn-default.active {
        background-color:#ccc;
        color:white;
      }
      .btn-default:focus, .btn-default:active, .btn-default:hover {
        color:inherit;
        background-color:inherit;
      }
      .btn-success {
        border:1px solid #3ACA6D;
        background-color:#3ACA6D;
        color:white;
      }
      .btn-success:focus, .btn-success:active, .btn-success:hover {
        background-color:#2EA056;
        color:white;
      }
      .btn-iosdark {
        background-color:white;
        border:1px solid #333;
        color:#333;
      }
      .btn-iosdark:focus, .btn-iosdark:active, .btn-iosdark:hover {
        background-color:#333;
        color:white;
      }
      .btn-iosdark.active {
        background-color:#333;
        color:white;
      }
      .btn-iosprimary {
        background-color:white;
        border:1px solid #4197E2;
        color:#4197E2;
      }
      .btn-iosprimary:focus, .btn-iosprimary:active, .btn-iosprimary:hover {
        background-color:#4197E2;
        color:white;
      }
      .btn-iosprimary.iosactive {
        background-color:#4197E2;
        color:white;
      }
      .btn-primary:focus, btn.primary:active, .btn-primary:hover {
        border-color:#2988DA;
        background-color:#2988DA;
      }
      .btn-primary{
        background-color:#2E98F3;
        border-color:#2E98F3;
      }
      .medialeft > img {
        width:64px !important;
        height:64px !important;
      }
      #bigscreens > .book {

      }
      #bigscreens > .book > .bookpadding {
       padding-top:10px;
      padding-bottom:10px;
      }
      .nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
        color:white !important;
        background-color:#ddd ;
      }
       .nav-pills>li>a:focus, .nav-pills>li>a:hover {
        color:#c7c6c6 !important;
      }
      .nav-pills>li>a .badge {
        font-weight:500;
        color:white;
        background-color:#c7c6c6;
      }
      .nav-pills>li>a {
        color:#c7c6c6;
      }
      .nav-pills>li.active>a .badge {
        color:#c7c6c6;
      }
      .btn-iosdark .badge {
        background-color:#ddd;
        color:#333;
      }
      .btn-iosdark.active .badge {
        background-color:white;
        color:#333;
      }
      h3 {
        font-weight:200;
      }
      a {
        color:#333;
      }
      .navbar-inverse .navbar-nav>li>a {
        font-weight:200;
      }
      .read {
      }
      .btn-default .badge {
        background-color:white;
        color:#c7c6c6;
        font-weight:400;
      }
      .btn-default .active .badge {
        background-color:white;
        color:#c7c6c6;
      }
       .btn-default.active:focus, .btn-default.active:hover {
        color:white;
       }
      .mrow {
        display:none;
      }
      .arow {
        display:none;
      }
      .btn.active, .btn:active {
        -webkit-box-shadow:none;
        box-shadow:none;
      }
      .centered-pills { text-align:center; }
      .centered-pills ul.nav-pills { display:inline-block; }
      .centered-pills li { display:inline; }
      .centered-pills a { float:left; }
      * html .centered-pills ul.nav-pills { display:inline; } /* IE6 */
      *+html .centered-pills ul.nav-pills { display:inline; } /* IE7 */
      .btn {
        text-transform:uppercase;
        letter-spacing:2px;
      }
      #smallscreens h3 {
        font-size:18px;
      }
      .bs-example-modal-sm .btn {
        font-weight:100;
      }
      .modal-body.visible-xs .btn {
        font-weight:200;
      }
      .dot {
       position: absolute;
       margin-top: 8px;
       left: 10px;
      }
      .label {
        font-weight:200;
      }
      .label-primary {
        background-color:#ddd;
      }
      .modal-header {
        border:none;
      }
      .modal-content{
        border:none;
        box-shadow:none;
      }
      .movies, .books, .articles {
        padding-bottom:30px;
      }
      .btn-modal{
      background-color: white;
      border-color: white;
      color: #FF6F02;
      font-size:20px;
      }
      .btn-modal:active.btn-modal:focus{
      color: #028AFF;
      }
      #menu-toggle {
      background-color: transparent;
      border: none;
      position: absolute;
      top: 20px;
      left: 20px;
      color: #333;
      font-size: 30;
      }
      .socialbtns .fa {
      width: 35px;
      height: 35px;
      margin-left:5px;
      margin-right:5px;
      background-color: #FFF;
      padding-top: 11px;
      border-radius: 22px;
      -moz-border-radius: 22px;
      -webkit-border-radius: 22px;
      -o-border-radius: 22px;
      }
      #menu .socialbtns .fa {
        color:#333;
      }
      .fxd .fa {
        border: 1px solid #ddd;
        color:#ddd;
      }
      .fxd .fa:hover {
        color: white !important;
        background-color: black;
        border: 1px solid black;
      }
      .fxd .fa-vk {
        padding-left:6px;
      }
      .fxd .fa-facebook {
        padding-left:11px;
      }
      .fxd .fa-twitter {
        padding-left:9px;
      }
      .fxd .fa-google-plus {
        padding-left:9px;
      }
  body(style='background-color:#fbfbfb;')
    .modal.fade.bs-example-modal-sm(id='contactmodal' tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel")
      .modal-dialog.modal-sm
        .modal-content
          .modal-header
            button(type="button" class="close" data-dismiss="modal" aria-label="Close")
              span(aria-hidden="true") ×
          .modal-body
    .modal.fade.bs-example-modal-sm(id='bookmodal' tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel")
      .modal-dialog.modal-sm
        .modal-content
          .modal-header
            button(type="button" class="close" data-dismiss="modal" aria-label="Close")
              span(aria-hidden="true") ×
          .modal-body
            h4(id='modaltitle' style='text-align:center;')
            h4(id='modalauthor' style='color:gray;text-align:center;font-size:15px;' class='lead')
            button(class='btn btn-primary  form-control' id='addbook' style='margin-top:5px;margin-bottom:5px;') Add to my list
    .modal.fade.bs-example-modal-sm(id='moviemodal' tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel")
      .modal-dialog.modal-sm
        .modal-content
          .modal-header
            button(type="button" class="close" data-dismiss="modal" aria-label="Close")
              span(aria-hidden="true") ×
          .modal-body
            h4(id='modalmovietitle' style='text-align:center;')
            h4(id='modalyear' style='color:gray;text-align:center;font-size:15px;' class='lead')
            button(class='btn btn-primary  form-control' id='addmovie' style='margin-top:5px;margin-bottom:5px;') Add to my list
    .modal.fade.bs-example-modal-sm(id='articlemodal' tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel")
      .modal-dialog.modal-sm
        .modal-content
          .modal-header
            button(type="button" class="close" data-dismiss="modal" aria-label="Close")
              span(aria-hidden="true") ×
          .modal-body
            h4(id='modalarticletitle' style='text-align:center;')
            h4(id='modallink' style='color:gray;text-align:center;font-size:15px;' class='lead')
            button(class='btn btn-primary  form-control' id='addarticle' style='margin-top:5px;margin-bottom:5px;') Add to my list
    .modal.fade(id="sendmsg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel")
      .modal-dialog(role="document")
        .modal-content
          .modal-header
            button(type="button" class="close" data-dismiss="modal" aria-label="Close")
              span(aria-hidden="true") ×
          .modal-body
            label Message:
            textarea(id='gettext' class='form-control txtfield' style='margin-bottom:15px;')            
          .modal-footer(style='text-align:center;')
            button(class='btn btn-modal'  id='submitmsg') Send
    .container(id='wait' style='background-color:rgba(0, 0, 0, 0.63);position:fixed;width:100%;height:100%;z-index:9999;display:none;') 
      .row(id='spin') 
        .col-xs-12(style='text-align:center;')
          .loader
    nav#menu.menu 
      section.menu-section
        ul.menu-section-list    
          li
            a(href="/") My lists
          li
            a(href="/people") People
          li 
            a(href='/messages') Messages
          li
            a(href="/settings") Settings
          li
            a(href="/logout") Logout
      section.menu-section.visible-xs(style='text-align:center;')
        ul.socialbtns(style='display:inline;margin-right:20px;margin-top:50px;padding-left:0px;')
          li
            a(href="#" class="social_share fa fa-lg fa-vk" data-type='vk')
          li
            a(href="#" class="social_share fa fa-lg fa-facebook" data-type='fb')
          li
            a(href="#" class="social_share fa fa-lg fa-twitter" data-type='tw')
          li
            a(href="#" class="social_share fa fa-lg fa-google-plus" data-type='gg') 
    .container-fluid#panel(style='padding-top:50px;min-height:100vh;background-color:white;')
      .socialbtns.fxd.hidden-xs(style='position:absolute;top:20px;right:20px;z-index:1000;')
        a(href="#" class="social_share fa fa-lg fa-vk" data-type='vk')
        a(href="#" class="social_share fa fa-lg fa-facebook" data-type='fb')
        a(href="#" class="social_share fa fa-lg fa-twitter" data-type='tw')
        a(href="#" class="social_share fa fa-lg fa-google-plus" data-type='gg')
      button(type='button' ,id='menu-toggle')
        span.glyphicon.glyphicon-menu-hamburger
      .row.visible-lg.visible-md.visible-sm
        .col-xs-12.col-lg-10.col-lg-offfset-1.col-md-10.col-md-offset-1
          .row
            #avatarbig.col-xs-12(style='text-align:center;')         
              h2(style='margin-top:30px;' class='usernick')  ...
          .row(style='margin-bottom:20px;margin-top:60px;text-align:center;')
            .col-xs-12
              .btn-group(style='margin-right:15px;')
                button.btn.btn-iosdark.follow(type='button') Follow
                button.btn.btn-iosdark.chatwith(type='button') Chat
              .btn-group(style='margin-right:15px;')
                button(class="social_share btn btn-iosdark vk" data-type="vk" type='button') V
                button(class="social_share btn btn-iosdark fb" data-type="fb" type='button') F
                button(class="social_share btn btn-iosdark tw" data-type="tw" type='button') t
                button(class="social_share btn btn-iosdark gg" data-type="gg" type='button') G
              .btn-group
                button.btn.btn-iosdark.showbooks.active(type='button')  Books
                  span(class='badge booknum' style='margin-left:10px;') 0
                button.btn.btn-iosdark.showmovies(type='button')  Movies
                  span(class='badge movienum' style='margin-left:10px;') 0
                button.btn.btn-iosdark.showarticles(type='button') Links
                  span(class='badge articlenum' style='margin-left:10px;') 0
      .row
        #booklist.thun.col-md-12
          .row.visible-xs
            #avatarsmall.col-xs-12(style='min-width:100px;padding-bottom:10px;padding-top:20px;text-align:center;')                                
              //h4.numbers  
              .btn-group.btn-group-lg(style='margin-bottom:20px;margin-top:30px;')             
                button.btn.btn-iosdark.follow(type='button') Follow
                button.btn.btn-iosdark.chatwith(type='button') Chat
              .row 
                .col-xs-12
                  .btn-group.btn-group-lg(style='margin-top:20px;margin-bottom:20px;')
                    .btn.btn-iosdark.active.showbooks(type='button') B
                      span(class='badge booknum' style='margin-left:10px;') 0
                    .btn.btn-iosdark.showmovies(type='button') M
                      span(class='badge movienum' style='margin-left:10px;') 0
                    .btn.btn-iosdark.showarticles(type='button') L
                      span(class='badge articlenum' style='margin-left:10px;') 0
          #list.row
            .col-xs-12.col-lg-10.col-lg-offfset-1.col-md-10.col-md-offset-1
              .row.mrow
                .col-xs-12.visible-lg.visible-md.visible-sm.movies#bigscreens
                  .nomovies.row(style='text-align:center;')  
                     .col-xs-12
                       h2(style='color:#ccc;margin-bottom:20px;') No items 
              .row.brow
                .col-xs-12.visible-lg.visible-md.visible-sm.books#bigscreens
                  .nobooks.row(style='text-align:center;')  
                     .col-xs-12
                       h2(style='color:#ccc;margin-bottom:20px;') No items  
              .row.arow
                .col-xs-12.visible-lg.visible-md.visible-sm.articles#bigscreens
                  .noarticles.row(style='text-align:center;')  
                     .col-xs-12
                       h2(style='color:#ccc;margin-bottom:20px;') No items
              .row.brow
                #smallscreens.visible-xs.col-xs-12.books(style='border-top:1px solid #eee;')         
                  .nobooks.row(style='text-align:center;')  
                     .col-xs-12
                       h2(style='color:#ccc;margin-bottom:20px;') No items 
              .row.mrow
                #smallscreens.visible-xs.col-xs-12.movies(style='border-top:1px solid #eee;')       
                  .nomovies.row(style='text-align:center;')  
                     .col-xs-12
                       h2(style='color:#ccc;margin-bottom:20px;') No items 
              .row.arow
                #smallscreens.visible-xs.col-xs-12.articles(style='border-top:1px solid #eee;')       
                  .noarticles.row(style='text-align:center;')  
                     .col-xs-12
                       h2(style='color:#ccc;margin-bottom:20px;') No items 
    // jQuery (necessary for Bootstrap's JavaScript plugins)
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')
    // Include all compiled plugins (below), or include individual files as needed
    script(src='/js/bootstrap.min.js')     
    script.
      var slideout = new Slideout({
        'panel': document.getElementById('panel'),
        'menu': document.getElementById('menu'),
        'padding': 256,
        'tolerance': 70
      });
      document.querySelector('#menu-toggle').addEventListener('click', function() {
        slideout.toggle();
      });
      $(document).on('click', '.social_share', function(){
          Share.go(this);
      });
      var b_checkagainst = !{JSON.stringify(bookstorecheck)};
      var m_checkagainst = !{JSON.stringify(moviestorecheck)};
      var a_checkagainst = !{JSON.stringify(articlestorecheck)};
      if(!b_checkagainst){b_checkagainst=[];} 
      if(!m_checkagainst){m_checkagainst=[];} 
      if(!a_checkagainst){a_checkagainst=[];} 
      console.log('typeof bookstore:'+typeof b_checkagainst);
      var user = !{JSON.stringify(doc)};
      var unfollow =#{unfollow};
      if(unfollow) {
        $('.follow').text('Unfollow');
      }
      console.log(typeof unfollow+' unfollow: '+unfollow);
      var avatar = #{avatar};
      user= JSON.parse(user);
      $('.usernick').text(user.nick);
      $('.chatwith').click(function(){
        $('#sendmsg').modal('show');
        });
      //var tmp_string = "window.location='/chat/"+user._id+"';";
      //$('.chatwith').attr('onclick',tmp_string);
      //var contacts = #{contacts};
      if(avatar) {
        $('#avatarbig').prepend("<img id='userimg' class='img-circle' style='margin:auto !important;margin-top:60px;' src='/userpics/"+user._id+".png'></img>");
        $('#avatarsmall').prepend("<img id='userimg' class='img-circle' style='margin:auto !important;margin-top:30px;margin-bottom:20px;height:200px;width:200px;' src='/userpics/"+user._id+".png'></img><h3 style='margin-top:10px;font-weight:500;'>"+user.nick+"</h3>");
      }
      else {
        $('#avatarbig').prepend("<div id=emptyavatar class='img-circle' style='margin:auto !important;margin-top:60px;'></div>");
        $('#avatarsmall').prepend("<div id=emptyavatar style='margin:auto !important;margin-top:30px;margin-bottom:20px;' class='img-circle'></div><h3 style='margin-top:10px;font-weight:500;'>"+user.nick+"</h3>");
      }
      $('.booknum').text(user.readbooks);
      $('.movienum').text(user.seenmovies);
      $('.articlenum').text(user.readarticles);
      //$('.numbers').append(user.readbooks+"<span style='color:#ddd;'> / </span>"+user.seenmovies);
      //$('#bookstitle').empty().append("<span style='color:#b76e00;'>"+user.readbooks+"</span")
      String.prototype.capitalizeFirstLetter = function() {
          return this.charAt(0).toUpperCase() + this.slice(1);
      }
      $('.showbooks').click(function(){
        if($('.brow').css('display')==='none'){
          console.log('show brow');
          $('.showarticles').removeClass('active');
          $('.showmovies').removeClass('active');
          $('.showbooks').addClass('active');
          $('.brow').css('display','block')
          $('.mrow').css('display','none');
          $('.arow').css('display','none');
        }
        });
      $('.showmovies').click(function(){
        if($('.mrow').css('display')==='none'){
          console.log('show mrow');
          $('.showarticles').removeClass('active');
          $('.showbooks').removeClass('active');
          $('.showmovies').addClass('active');
          $('.mrow').css('display','block')
          $('.brow').css('display','none');
          $('.arow').css('display','none');
        }
        });
      $('.showarticles').click(function(){
        if($('.arow').css('display')==='none'){
          console.log('show arow');
          $('.showmovies').removeClass('active');
          $('.showbooks').removeClass('active');
          $('.showarticles').addClass('active');
          $('.brow').css('display','none')
          $('.mrow').css('display','none');
          $('.arow').css('display','block');
        }
        });
       //------------------//
       var count_b;
       var count_m;
       var books=user.bookstore;
       var movies=user.moviestore;
       var articles = user.articlestore;
       var modal_data_store=[];
       var movie_modal_data_store=[];
       var article_modal_data_store=[];
       //------------------//
       //GETTIMESTAMP  gets timestamp upon which new items will be marked, so it runs first starting the cascade
      var general_tmstmp;
      function gettimestamp() {
        $.ajax({
         method: "POST",
         url: "/gettimestamp/#{user}",
         data: 0
       })
         .done(function( msg ) {
           general_tmstmp = parseInt(msg.tmstmp);
          // alert('general timestamp: '+general_tmstmp);
           if(!general_tmstmp) {
            general_tmstmp = Date.now();
           }
          if(!books || !books.length) {
          console.log('no books');
          }
          else {
           count_b = books.length-1;
           getbooks(books,count_b);
          }
          if(!movies || !movies.length) {
          console.log('no movies');
          }
          else {
           count_m = movies.length-1;
           getmovies(movies,count_m);
          }
           });
         if(!articles || !articles.length) {
          console.log('no articles');
          }
          else {
           var count_a = articles.length-1;
           populatearticles(articles);
          }
      }
      gettimestamp();
      //function populate () {
      //$.ajax({
      //   method: "POST",
      //   url: "/getbooks/#{user}",
      //   data: 0
      // })
      //   .done(function( msg ) {
      //     console.log('msg is: '+msg);
      //     books = msg;
      //     console.log(JSON.stringify(books));
      //     count = books.length -1;
      //     if(!books) {
      //      //alert('server maintenence \n try again later');
      //      $('#myModal').modal('show');
      //     }
      //     else {
      //      getbooks(books,count);
      //     }
      //     });
      // }
      function redactbookmodal (i) {
        $('#addbook').prop('disabled',false).text('Add to my list');
        for(var x=b_checkagainst.length-1;x>=0;x--){
          if(b_checkagainst[x]===modal_data_store[i]._id.toString()) {
            $('#addbook').text('Already on the list');
            $('#addbook').prop('disabled',true);
          }
        }
        console.log('title: '+modal_data_store[i].title);
        console.log('author: '+modal_data_store[i].author);
        $('#modaltitle').text(modal_data_store[i].title);
        $('#modalauthor').text(modal_data_store[i].author);
        var insert = 'addbook('+i+')';
        $('#addbook').attr('onclick',insert);
        $('#bookmodal').modal('show');
      }
       function redactmoviemodal (i) {
        $('#addmovie').prop('disabled',false).text('Add to my list');
        for(var x=m_checkagainst.length-1;x>=0;x--){
          if(m_checkagainst[x]===movie_modal_data_store[i]._id.toString()) {
            $('#addmovie').text('Already on the list');
            $('#addmovie').prop('disabled',true);
          }
        }
        $('#modalmovietitle').text(movie_modal_data_store[i].title);
        $('#modalyear').text(movie_modal_data_store[i].year);
        var insert = 'addmovie('+i+')';
        $('#addmovie').attr('onclick',insert);
        $('#moviemodal').modal('show');
      }
      function redactarticlemodal (i) {
        $('#addarticle').prop('disabled',false).text('Add to my list');
        for(var x=a_checkagainst.length-1;x>=0;x--){
          if(a_checkagainst[x]===article_modal_data_store[i]._id.toString()) {
            $('#addarticle').text('Already on the list');
            $('#addarticle').prop('disabled',true);
          }
        }
        $('#modalarticletitle').text(article_modal_data_store[i].title);
        $('#modallink').text(article_modal_data_store[i].link);
        var insert = 'addarticle('+i+')';
        $('#addarticle').attr('onclick',insert);
        $('#articlemodal').modal('show');
      }
      function addbook(i) {
        var url = '/additem/book_out';
        $.ajax({
         method: "POST",
         url: url,
         data: 'book_id='+books[i]._id
       })
         .done(function( msg ) {
           console.log('arr length: '+b_checkagainst.length);
           b_checkagainst.push(books[i]._id);
           console.log('arr length after: '+b_checkagainst.length);
           $('#bookmodal').modal('hide');
           console.log('added book');
          });
      }
      function addmovie(i) {
        var url = '/additem/movie_out';
        $.ajax({
         method: "POST",
         url: url,
         data: 'movie_id='+movies[i]._id
       })
         .done(function( msg ) {
          m_checkagainst.push(movies[i]._id);
           $('#moviemodal').modal('hide');
           console.log('added movie');
          });
      }
      function addarticle(i) {
        var url = '/additem/article_out';
        $.ajax({
         method: "POST",
         url: url,
         data: 'article_id='+articles[i]._id+'&title='+articles[i].title+'&link='+articles[i].link
       })
         .done(function( msg ) {
          a_checkagainst.push(articles[i]._id);
           $('#articlemodal').modal('hide');
           console.log('added article');
          });
      }
      function getbooks(books) {
        books.forEach(function(element,index){
            if ($(".nobooks")[0])
            { console.log('HAS LENGTH');
              $('.books').empty();}
            else {
              console.log('HASNT GOT LENGTH');
            }
            var authors_insert = ' ';
            msg.authors.forEach(function(element){
            authors_insert+='  '+element;
             });
            console.log('newbook :'+element.newbook);
            console.log('goodbook :'+element.goodbook);
            var new_indicator_part_1 =' ';
            var new_indicator_part_2 =' ';
            var new_indicator_part_3 ="style='margin-left:37px;'";
            var prepend = 0;
            console.log(parseInt(element.tmstmp)+' \n'+general_tmstmp);
            if(element.newbook){
              new_indicator_part_3 = "style='margin-left:25px;' ";
            }
            if(parseInt(element.tmstmp)>general_tmstmp && unfollow){
              console.log('LABELING NEW');
              new_indicator_part_1 = "<div class='dot visible-xs'><span style='margin-left:10px;font-size:45px;color:#2E98F3;'>&#8226;</span></div>";
              new_indicator_part_2 = "<span class='dot-sm'>&#8226;</span>";
              new_indicator_part_3 = " ";
              prepend=1;
            }
            var insert;
            switch(true){
              case(element.goodbook&&!element.newbook):
              console.log('1st case');
              insert = "<div class='row book read' id='book"+element._id+"'>"+new_indicator_part_1+"<div class='col-xs-12 bookpadding hovershade' onclick='redactbookmodal("+i+");'><h3 id='btitle"+element._id+"' "+new_indicator_part_3+">"+new_indicator_part_2+msg.title.capitalizeFirstLetter()+"<small class='hidden-xs' style='margin-left:25px;color:#ddd;'>"+authors_insert+"</small><span class='label label-primary pull-right'>GOOD</span></h3><h5 id='sm_hd"+element._id+"' class='hidden-lg hidden-md hidden-sm' style='color:#ddd;margin-left:37px;'>"+authors_insert+"</h5></div></div>";
              var thisbook={};
              thisbook._id = element._id;
              thisbook.author = authors_insert;
              thisbook.title = msg.title.capitalizeFirstLetter();
              modal_data_store.unshift(thisbook);
              break
              case(element.newbook&&!element.goodbook):
              console.log('2st case');
              insert = "<div class='row book new' id='book"+element._id+"' >"+new_indicator_part_1+"<div class='col-xs-12 bookpadding hovershade' onclick='redactbookmodal("+i+");'><h3 id='btitle"+element._id+"' "+new_indicator_part_3+"> "+new_indicator_part_2+msg.title.capitalizeFirstLetter()+"<small class='hidden-xs' style='margin-left:15px;color:#ddd;' >"+authors_insert+"</small></h3><h5 class='hidden-lg hidden-md hidden-sm' style='color:#ddd;margin-left:25px;'>"+authors_insert+"</h5></div></div>";
              var thisbook={};
              thisbook._id = element._id;
              thisbook.author = authors_insert;
              thisbook.title = msg.title.capitalizeFirstLetter();
              modal_data_store.unshift(thisbook);
              console.log(modal_data_store);
              break
              case(!element.newbook&&!element.goodbook):
              console.log('3st case');
              insert = "<div class='row book read' id='book"+element._id+"'>"+new_indicator_part_1+"<div class='col-xs-12 bookpadding hovershade' onclick='redactbookmodal("+i+");'><h3 id='btitle"+element._id+"' "+new_indicator_part_3+"> "+new_indicator_part_2+msg.title.capitalizeFirstLetter()+"<small class='hidden-xs' style='margin-left:25px;color:#ddd;''>"+authors_insert+"</small></h3><h5 class='hidden-lg hidden-md hidden-sm' style='color:#ddd;margin-left:25px;'>"+authors_insert+"</h5></div></div>";
              var thisbook={};
              thisbook._id = element._id;
              thisbook.author = authors_insert;
              thisbook.title = msg.title.capitalizeFirstLetter();
              modal_data_store.unshift(thisbook);
              break
            }         
           if(!prepend){$('.books').append(insert);}
           else {$('.books').prepend(insert);}
           });
       }
      function getmovies(movies,i) {
       movies.forEach(function(element,index){
            if ($(".nomovies")[0])
            { console.log('HAS LENGTH');
              $('.movies').empty();}
            else {
              console.log('HASNT GOT LENGTH');
            }
            var new_indicator_part_1 =' ';
            var new_indicator_part_2 =' ';
            var new_indicator_part_3 ="style='margin-left:25px;'";
            var prepend=0;
            if(element.newmovie){
              new_indicator_part_3 = "style='margin-left:25px;' ";
            }
            if(parseInt(element.tmstmp)>general_tmstmp && unfollow){
              console.log('LABELING NEW');
              new_indicator_part_1 = "<div class='dot visible-xs'><span style='font-size:45px;color:#2E98F3;'>&#8226;</span></div>";
              new_indicator_part_2 = "<span class='dot-sm'>&#8226;</span>";
              new_indicator_part_3 = " ";
              prepend=1;
            }
            var insert;   
            switch(true){
              case(element.goodmovie&&!element.newmovie):
              console.log('1st case');
              insert = "<div class='row book read' id='movie"+element._id+"'>"+new_indicator_part_1+"<div class='col-xs-12 bookpadding hovershade' onclick='redactmoviemodal("+i+");'><h3 id='mtitle"+element._id+"'  "+new_indicator_part_3+">"+new_indicator_part_2+msg.title.capitalizeFirstLetter()+"<small class='hidden-xs' style='margin-left:15px;color:#ddd;'>"+msg.year+"</small></h3><h5 id='sm_hd"+element._id+"' class='hidden-lg hidden-md hidden-sm' style='color:#ddd;margin-left:25px;'>"+msg.year+"</h5></div></div>";
              var thismovie={};
              thismovie._id = element._id;
              thismovie.year = msg.year;
              thismovie.title = msg.title.capitalizeFirstLetter();
              movie_modal_data_store.unshift(thismovie);
              break
              case(element.newmovie&&!element.goodmovie):
              console.log('2st case');
              insert = "<div class='row book new' id='movie"+element._id+"' >"+new_indicator_part_1+"<div class='col-xs-12 bookpadding hovershade' onclick='redactmoviemodal("+i+");'><h3 id='mtitle"+element._id+"' "+new_indicator_part_3+"> "+new_indicator_part_2+msg.title.capitalizeFirstLetter()+"<small class='hidden-xs' style='margin-left:15px;color:#ddd;' >"+msg.year+"</small></h3><h5 id='sm_hd"+element._id+"' class='hidden-lg hidden-md hidden-sm' style='color:#ddd;margin-left:25px;'>"+msg.year+"</h5></div></div>";
              var thismovie={};
              thismovie._id = element._id;
              thismovie.year = msg.year;
              thismovie.title = msg.title.capitalizeFirstLetter();
              movie_modal_data_store.unshift(thismovie);
              break
              case(!element.newmovie&&!element.goodmovie):
              console.log('3st case');
              insert = "<div class='row book read' id='movie"+element._id+"'>"+new_indicator_part_1+"<div class='col-xs-12 bookpadding hovershade' onclick='redactmoviemodal("+i+");'><h3 id='mtitle"+element._id+"' "+new_indicator_part_3+"> "+new_indicator_part_2+msg.title.capitalizeFirstLetter()+"<small class='hidden-xs' style='margin-left:15px;color:#ddd;''>"+msg.year+"</small></h3><h5 id='sm_hd"+element._id+"' class='hidden-lg hidden-md hidden-sm' style='color:#ddd;margin-left:25px;'>"+msg.year+"</h5></div></div>";
              var thismovie={};
              thismovie._id = element._id;
              thismovie.year = msg.year;
              thismovie.title = msg.title.capitalizeFirstLetter();
              movie_modal_data_store.unshift(thismovie);
              break
            }         
           if(!prepend){$('.movies').append(insert);}
           else{$('.movies').prepend(insert);}
        });
      }
      //---------------------------------//
      function populatearticles(articles) {
        
        for(var xx=articles.length-1;xx>=0;xx--){
            if ($(".noarticles")[0])
            { $('.articles').empty();}
            var new_indicator_part_1 =' ';
            var new_indicator_part_2 =' ';
            var new_indicator_part_3 ="style='margin-left:25px;'";
            var prepend = 0;
            if(articles[xx].newarticle){
              new_indicator_part_3 = "style='margin-left:25px;' ";
            }
            if(parseInt(articles[xx].tmstmp)>general_tmstmp && unfollow){
              console.log('LABELING NEW');
              new_indicator_part_1 = "<div class='dot visible-xs'><span style='font-size:45px;color:#2E98F3;'>&#8226;</span></div>";
              new_indicator_part_2 = "<span class='dot-sm'>&#8226;</span>";
              new_indicator_part_3 = " ";
              prepend=1;
            }
            switch(true){
              case(articles[xx].goodarticle&&!articles[xx].newarticle):
              console.log('1st case');
              insert = "<div class='row book read article"+articles[xx]._id+"'>"+new_indicator_part_1+"<div class='col-xs-12 bookpadding hovershade' onclick='redactarticlemodal("+xx+");'><h3 class='atitle"+articles[xx]._id+"' "+new_indicator_part_3+">"+new_indicator_part_2+articles[xx].title.capitalizeFirstLetter()+"<small class='hidden-xs' style='margin-left:15px;color:#ddd;''>"+articles[xx].link.substring(0,30)+"...</small><span class='good"+articles[xx]._id+" label label-primary pull-right'>GOOD</span></h3><h5 class='hidden-lg hidden-md hidden-sm sm_hd"+articles[xx]._id+"' style='color:#ddd;margin-left:25px;'>"+articles[xx].link.substring(0,30)+"..</h5></div></div>";
              var thisarticle={};
              thisarticle._id = articles[xx]._id;
              thisarticle.link = articles[xx].link;
              thisarticle.title = articles[xx].title.capitalizeFirstLetter();
              article_modal_data_store.unshift(thisarticle);
              break
              case(articles[xx].newarticle&&!articles[xx].goodarticle):
              console.log('2st case');
              insert = "<div class='row book new article"+articles[xx]._id+"' >"+new_indicator_part_1+"<div class='col-xs-12 bookpadding hovershade' onclick='redactarticlemodal("+xx+");'><h3 class='atitle"+articles[xx]._id+"' "+new_indicator_part_3+">"+new_indicator_part_2+articles[xx].title.capitalizeFirstLetter()+"<small class='hidden-xs' style='margin-left:15px;color:#ddd;''>"+articles[xx].link.substring(0,30)+"...</small></h3><h5 class='hidden-lg hidden-md hidden-sm sm_hd"+articles[xx]._id+"' style='color:#ddd;margin-left:25px;'>"+articles[xx].link.substring(0,30)+"..</h5></div></div>";
              var thisarticle={};
              thisarticle._id = articles[xx]._id;
              thisarticle.link = articles[xx].link;
              thisarticle.title = articles[xx].title.capitalizeFirstLetter();
              article_modal_data_store.unshift(thisarticle);
              break
              case(!articles[xx].newarticle&&!articles[xx].goodarticle):
              console.log('3st case');
              insert = "<div class='row book read article"+articles[xx]._id+"'>"+new_indicator_part_1+"<div class='col-xs-12 bookpadding hovershade' onclick='redactarticlemodal("+xx+");'><h3 class='atitle"+articles[xx]._id+"' "+new_indicator_part_3+">"+new_indicator_part_2+articles[xx].title.capitalizeFirstLetter()+"<small class='hidden-xs' style='margin-left:15px;color:#ddd;''>"+articles[xx].link.substring(0,30)+"...</small></h3><h5 class='hidden-lg hidden-md hidden-sm sm_hd"+articles[xx]._id+"' style='color:#ddd;margin-left:25px;'>"+articles[xx].link.substring(0,30)+"..</h5></div></div>";
              var thisarticle={};
              thisarticle._id = articles[xx]._id;
              thisarticle.link = articles[xx].link;
              thisarticle.title = articles[xx].title.capitalizeFirstLetter();
              article_modal_data_store.unshift(thisarticle);
              break
            }         
           if(!prepend){$('.articles').append(insert);}
           else{$('.articles').prepend(insert);}
         }// for
      }
      //----------------------------//
      $('.follow').click(function(){
        if(unfollow) {
          unfollowfnc();
        }
        else {
          follow();
        }
        });
      function follow () {
        $('.follow').addClass('disabled');
        $.ajax({
               method: "POST",
               url: "/follow/#{user}",
               data: 0
             })
               .done(function( msg ) {
                 if(msg.trouble) {
                  alert('trouble');
                 }
                 else {
                  unfollow=1;
                  $('.follow').text('Unfollow').css({'color':'#4197E2','background-color':'white'});
                  $('.follow').removeClass('disabled');
                 }
                 });}
      function unfollowfnc () {
       $('.follow').addClass('disabled');
        $.ajax({
               method: "POST",
               url: "/unfollow/#{user}",
               data: 0
             })
               .done(function( msg ) {
                 if(msg.trouble) {
                  alert('trouble');
                 }
                 else {
                  unfollow=0;
                  $('.follow').empty();
                  $('.follow').append('<span class="glyphicon glyphicon-user"></span> Follow').css({'color':'#4197E2','background-color':'white'});
                  $('.follow').removeClass('disabled');
                 }
                 });}
      $('#submitmsg').click(function(){sendmsg()});
      function sendmsg() {
      console.log('msg sendin'); 
      //var rcvr = #{rcvrid}; 
      var sndr = '#{user}';
      var txtbody = $('#gettext').val();
      if(!txtbody) {
        return 0
      }
      console.log(txtbody);
      sndrequest = new XMLHttpRequest();
      sndrequest.onreadystatechange = function () {
      var DONE = this.DONE || 4;
      if(sndrequest.readyState==4 && sndrequest.status==200){
      $('#gettext').val('');
      $('#sendmsg').modal('hide');
      //if (this.readyState === DONE){
      var parsed = JSON.parse(sndrequest.responseText);
      if(parsed.trouble === 1)
      {
      // TO DO do somewthing here
      alert('trouble');
      }
      else {
      }
      }
      };
      sndrequest.open('POST', '/msg', true);
      sndrequest.setRequestHeader('X-Requested-With', 'XMLHttpRequest');  // Tells server that this call is made for ajax purposes.
      sndrequest.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
      //Most libraries like jQuery/Prototype/Dojo do this
      sndrequest.send('rcvr=#{user}&txtbody='+txtbody);
      }
     
      
