doc
html(lang='en')
head
    meta(charset='utf-8')     
    meta(http-equiv='X-UA-Compatible', content='IE=edge')     
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
    title P&B     
    link(rel='icon', href='', sizes='16x16', type='image/png')
    // Bootstrap
    link(href='/bootstrap/css/bootstrap.min.css', rel='stylesheet')     
    meta(liber de amicitia est)
    // HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
    script(src="https://cdnjs.cloudflare.com/ajax/libs/slideout/0.1.9/slideout.min.js")
    script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')    
    script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')     
    style.
      #panel {
        padding-top:50px;
        padding-bottom:50px;
        min-height:100vh;
        background-color:white;
      }
      body {
      width: 100%;
      height: 100%;
      font: 100%/1.4em 'Calibre Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
      font-size:14;
      }
      .slideout-menu {
        background-color: #1D1F20;
        background-image: linear-gradient(145deg, #1D1F20, #404348);
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        z-index: 0;
        width: 256px;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        display: none;
      }
      .slideout-panel {
        position:relative;
        z-index: 1;
      }
      .slideout-open,
      .slideout-open body,
      .slideout-open .slideout-panel {
        overflow: hidden;
      }
      .slideout-open .slideout-menu {
        display: block;
      }
      .menu a {
        color: #fff;
      }
      .menu a:hover {
        text-decoration: underline;
      }
      .menu-header {
        border-bottom: 1px solid #2a2d2f;
        padding: 20px 0 20px 60px;
        background-size: 32px;
      }
      .menu-header-title {
        font-weight: 600;
        letter-spacing: 0.5px;
        margin: 0;
        font-size:18;
      }
      .menu-section {
        margin: 25px 0;
      }
      .menu-section-title {
        text-transform: uppercase;
        color: #85888d;
        font-weight: 200;
        font-size: 13px;
        letter-spacing: 1px;
        padding: 0 20px;
        margin:0;
      }
      .menu-section-list {
        padding:0;
        margin: 10px 0;
        list-style:none;
      }
      .menu-section-list a {
        font-family:boldproxima;
        text-transform: uppercase;
        color: #85888d;
        font-weight: 200 !important;
        font-size: 20px !important;
        letter-spacing: 1px;
        display: block;
        padding: 20px 20px;
      }
      .menu-section-list a:hover {
        background-color: rgba(255, 255, 255, 0.1);
        color:#fff !important;
        text-decoration: none;
      }
      .menu-section-list .active a {
      background-color: rgba(255, 255, 255, 0.1);
      color:#fff !important;
      text-decoration: none;
      }
      .emptybook {
      padding-left:23px;
      }
      .book h4 {
      color:black;
      }
      .book:hover {
      background-color:#eee;
      }
      .book {
      padding-top:10px;
      padding-bottom:10px;
      border-bottom:1px solid #eee;
      }
      #signup {
        padding-top:50px;
        padding-bottom:100px;
      }
      @media (max-width: 767px) {
      #panel{
        padding-top:10px;
      }
      li a {
        font-size:20px;
        letter-spacing:1px;
        padding-top:15px !important;
        padding-bottom:15px !important;
      }
      #mainframe {
      margin-top:0px;
      }
      #userimg {
      width:130px;
      height:130px;
      }
      .book {
      max-width:1000px;
      margin:auto;
      border-bottom:1px solid #eee;
      padding-left:15px;
      padding-right:15px;
      }
      .emptybook {
      margin-left:0px;
      }
      #leftpanel {
      border-right:0px;
      }
      #booklist {
      border-bottom-left-radius:10px;
      }
      
      .list {
        max-height:inherit;
      }
      .paddgroup {
      padding-left:25px;
      padding-right:25px;
      }
      #signup {
        background-color:#333;
      }
      }
      @media (max-width: 992px) {
      #booklist {
      border-bottom-left-radius:10px;
      }
      #userimg {
      width:150px;
      height:150px;
      }
      .things{
      padding-top:50px;
      }
      }
      @font-face {
      font-family:roboto-thin;
      src: url('/bootstrap/fonts/Roboto-Thin.ttf');
      }
      @font-face{
      font-family:proxima;
      src:url('/bootstrap/fonts/ProximaNova-Reg-webfont.woff');
      }
      @font-face{
      font-family:boldproxima;
      src:url('/bootstrap/fonts/ProximaNova-Sbold-webfont.woff');
      }
      h4 {
      color:gray;
      }
      .thin {
      height:85%;
      }
      .inleftblock {
      border-bottom:1px solid #eee;
      color:gray;
      }
      .inleftblock:hover {
      background-color: #333;
      color:white;
      }
      .inleftblock:hover h4 {
      color:white;
      }
      .glyphicon {
      margin-right:5px;
      }
      .btncorr {
      font-family:boldproxima;
      text-transform:uppercase;
      }
      .img-circle {
      -webkit-filter: brightness(0.9) contrast(1.2) saturate(1.2);
      -moz-filter: brightness(0.9) contrast(1.2) saturate(1.2);
      filter:brightness(0.9) contrast(1.2) saturate(1.2);
      }
      #heyopen {
      -webkit-box-shadow: inset 0px 7px 17px -9px rgba(0,0,0,0.75);
      -moz-box-shadow: inset 0px 7px 17px -9px rgba(0,0,0,0.75);
      box-shadow: inset 0px 7px 17px -9px rgba(0,0,0,0.75);
      }
      .btn {
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      }
      .btn-success {
      background-color:#23BBA7;
      }
      .btn-success:hover {
      background-color:#1F9E8E;
      } 
      a:hover, a:focus, a:active {
        text-decoration:none !important;
        color:inherit !important;
      }
      p{
        font-size:18px;
      }
      .discussion {
      border-bottom:1px solid #eee;
      padding-top:10px;
      padding-bottom:10px;
      background-color:white;
      }
      .discussion:hover {
        background-color:#f3f3f3;
      }
      .media-body, .media-left, .media-right {
      vertical-align: middle;
      }
      .media-heading{
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      }
      .media {
        margin-left:30px;
      }
      .media-left{
        padding-right:20px;
      }
      .navbar-inverse .navbar-nav>li>a {
        font-weight:200;
      }
      #menu-toggle {
      transition: color 1s ease;
      background-color: transparent;
      border: none;
      position: absolute;
      top: 20px;
      left: 20px;
      color: #333;
      font-size: 30;
      z-index:2;
      }
      button:focus,button:active {
       outline: none !important;
      }
      .btn-ioslight {
      background-color:transparent;
      border:1px solid white;
      color:white;
      }
      .btn-ioslight:focus, .btn-ioslight:active, .btn-ioslight:hover {
        background-color:white;
        color:#333;
      }
      .btn-ioslight.active {
        background-color:white;
        color:#333;
      }
      .modal-header {
      border:none;
      }
      .modal-content{
      border:none;
      box-shadow:none;
      }
      /*.btn-modal{
      background-color: white;
      border-color: white;
      color: #028AFF;
      font-size:20px;
      }*/
      .btn-modal:active.btn-modal:focus{
      color: #028AFF;
      }
      .modal-body {
        padding-right:20px;
        padding-left:20px;
      }
      a {
        color:#333;
      }
      a:active, a:focus, a:hover {
        color:#333 !important;
      }
      #respond {
        padding:15px;
        padding-top:30px;
        padding-bottom:0px;
        display:none;
      }
      #respond label {
        font-size:16px;
      }
      .btn-iosdark {
      background-color:white;
      border:1px solid #333;
      color:#333;
      }
      .btn-iosdark:focus, .btn-iosdark:active, .btn-iosdark:hover {
      background-color:white;
      border:1px solid #333;
      color:#333;
      }
      .btn {
      text-transform:uppercase;
      letter-spacing:2px;
      }
      textarea.form-control {
        border-color:#333;
      }
      .form-control:focus {
        box-shadow:none;
        border-color:#333;
      }
  body
    nav#menu.menu
      section.menu-section(style='text-align:center;')
        h3
          span(class='label' style='font-family:times,serif;font-weight:200;border:1px solid rgba(255,255,255,0.2);color:rgba(255,255,255,0.3);font-style:italic') alpha
      section.menu-section
        ul.menu-section-list    
          li
            a(href="/" id='lists') My lists
          li
            a(href="/people" id='pbutton') People
          li.active
            a(href='/messages' id='mbutton') Messages
          li
            a(href="/settings" id='settings') Settings
          li
            a(href="/logout" id='logout') Logout  
    .modal.fade(id="show_msg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel")
      .modal-dialog(role="document")
        .modal-content
          .modal-header(style='background-color:#222;border-top-left-radius:6px;border-top-right-radius:6px;')
            button(type="button" class="close" data-dismiss="modal" aria-label="Close")
              span(aria-hidden="true") ×
            h4#modalh(style='color:#ddd;') Message
          .modal-body 
            a(id='author_page')
              h3#sender
            h6#time(style='color:#ddd;margin-bottom:20px;')
            p#textbody  
            #respond.row
              label Response:
              textarea(id='gettext' maxlength="2700" class='form-control txtfield')   
              //button.btn.btn-modal#submitmsg(type='button' style='border: 1px solid #208aff;') Send
          .modal-footer(style='text-align:center;margin-top:20px;background-color:#222;border-bottom-left-radius:6px;border-bottom-right-radius:6px;')
            a.btn(id='openrespond' style='color:white;background-color:#337AB7;') Respond
    .container-fluid#panel
      button(type='button' ,id='menu-toggle')
        span.glyphicon.glyphicon-menu-hamburger
      .row.visible-lg.visible-md.visible-sm(style='height:50px;')
      .row.visible-xs(style='border-bottom:1px solid #eee;text-align:center;padding-bottom:10px;')
        .col-xs-12.col-lg-10.col-lg-offfset-1.col-md-10.col-md-offset-1
          h3#mainheading(style='font-weight:200;color:#ddd;') Messages
      .row
        .col-xs-12.col-lg-10.col-lg-offfset-1.col-md-10.col-md-offset-1#discussions
          #noitems.row(style='text-align:center;')  
            .col-xs-12
              h2(style='color:#ccc;margin-bottom:20px;') No items 
      .row#morebutton(style='padding:40px;padding-bottom:0px;text-align:center;display:none;')
        .col-xs-12
          a.btn.btn-iosdark( id='loadmore' ) Load more
    footer.footer(style='min-height:100px;background-color:#222;padding-top:20px;padding-bottom:20px;')
      .container 
        .row(style='text-align:center;color:white;')
          .col-xs-12
            h5(style='color:#555;font-weight:200;') People and books |
              span 
                a(href='mailto:main@peopleandbooks.com' style='color:#337ab7;')  Contact us
            h5(style='color:#555;font-weight:200;') 2015
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')
    // Include all compiled plugins (below), or include individual files as needed
    script(src='js/bootstrap.min.js')  
    script.
      //TO DO userpics seem to be cut from the sides, look into that
      var messages = !{JSON.stringify(messages)};
      var counter=0;
      var nickstore = {};// used when preparing a modal to display a message
      var msgstore ={};
      var avatarcheck={};
      var more = #{more};
      var lang = '#{lang}';
      if(lang==='ru'){
      $('#lists').text('Мои списки')
      $('#mbutton').text('Сообщения');
      $('#pbutton').text('Чужие списки');
      $('#settings').text('Настройки');
      $('#logout').text('Выход');
      $('#mainheading').text('Сообщения');
      $('#openrespond').text('Ответить');
      $('#modalh').text('Сообщение');
      $('#loadmore').text('Загрузить еще');
      }
      if(more){
        $('#morebutton').slideToggle();
      }
      if(!messages)
      {}
      else
      {
      populatemsg(messages,1);
      }
      function populatemsg(messages,init) {
        messages.reverse();
        messages.forEach(function(element){
        if($('#noitems').is(':visible')) {
          $('#noitems').remove();
        }
        console.log(element.userpic);
        var avatar_insert = "<div style='height:50px;background-color: #ddd;width:50px;border-radius:50%;' class='media-object' alt='avatar'></div>";
        if(element.userpic) {
         avatar_insert = "<img style='height:50px;' src='/userpics/"+element.sndr+"_small.png' class='media-object img-circle' src='' alt='avatar'>";
        }
        msgstore[element.sndr] = element.textbody;
        nickstore[element.sndr] = element.nick;
        var uid_n_qts = '"'+element.sndr+'"';
        var textbody = element.textbody.length>30?element.textbody.substring(0,30).replace(/<br \/>/g, '  ')+'...':element.textbody.replace(/<br \/>/g, '  ');
        textbody=textbody.replace('<br />',' ');
        var insert = "<div class='row discussion' onclick='show_message("+uid_n_qts+","+element.tmstmp+")'><div class='col-xs-12'><div class='media' style='margin-top:0px;'><div class='media-left' id='cid"+element.tmstmp+"'>"+avatar_insert+"</div><div class='media-body' style='color:#bfbfbf;'><h5 class='hidden-xs' style='position:absolute;right:20px;font-weight:200;top:-10;'>"+date_out(element.tmstmp)+"</h5><h4 id='head"+element.tmstmp+"' class='media-heading' style='color:#333;'>"+element.nick+"</h4><h6 class='visible-xs' style='font-weight:200;'>"+date_out(element.tmstmp)+"</h6>"+textbody+"</div></div></div></div>";
        //if(parseInt(#{lst_tmstmp})<parseInt(element.tmstmp) ){ 
          if(element.read ===0){
          
        insert = "<div class='row discussion' onclick='show_message("+uid_n_qts+","+element.tmstmp+")'><div class='col-xs-12'><span id='indicator"+element.tmstmp+"' style='color:#37AFD6;font-size: 40px;position: absolute;left: 15px;top:16px;'>&#8226;</span><div class='media' style='margin-top:0px;'><div class='media-left' id='cid"+element.tmstmp+"'>"+avatar_insert+"</div><div class='media-body' style='color:#bfbfbf;'><h5 class='hidden-xs' style='position:absolute;right:20px;font-weight:200;top:-10;'>"+date_out(element.tmstmp)+"</h5><h4 id='head"+element.tmstmp+"' style='color:#333;' class='media-heading'>"+element.nick+"</h4><h6 class='visible-xs' style='font-weight:200;'>"+date_out(element.tmstmp)+"</h6>"+textbody+"</div></div></div></div>";
        }
        $('#discussions').append(insert);
        });
      }
      var slideout = new Slideout({
        'panel': document.getElementById('panel'),
        'menu': document.getElementById('menu'),
        'padding': 256,
        'tolerance': 70
      });
      document.querySelector('#menu-toggle').addEventListener('click', function() {
        slideout.toggle();
      });
      //
      $('#openrespond').click(function(){
        if($('#respond').css('display')==='block' && $('#gettext').val())
        {
          sendmsg($('#gettext').attr('rcvr'));
        }
        else if($('#respond').css('display')==='none') {
          var txt = 'Send';
          if(lang === 'ru'){
            txt='Отправить';
          }
         $('#openrespond').text(txt);
         $('#gettext').val('');
         $('#respond').slideToggle();
        }
        else {
        }
        });
      var iter = 1
      $('#loadmore').click(function(){
        $('#loadmore').prop('disabled',true);
        $.ajax({
              method: "POST",
              url: "/moremsg",
              data: 'iter='+iter
            }).done(function( msg ) {
                $('#loadmore').prop('disabled',false);
                if(msg.troube){
                  console.log('err loading messages');
                }
                  else {
                    iter++;
                   populatemsg(msg.msgstore,0);
                   if(!msg.more){
                    $('#morebutton').slideToggle();
                   }
                  }
               });
        });
      $.ajax({
              method: "POST",
              url: "/ntfc_m",
              data: 0
            }).done(function( msg ) {
                if(msg.newmsg){
                 $('#mbutton').append('<span style="vertical-align:baseline;color:#37AFD6;font-size:20px;margin-left:10px;">•</span>');
                 $('#menu-toggle').css('color','#37AFD6');
                }
               });
      $.ajax({
              method: "POST",
              url: "/ntfc_p",
              data: 0
            }).done(function( msg ) {
                if(msg.newp){
                 $('#pbutton').append('<span style="vertical-align:baseline;color:#37AFD6;font-size:20px;margin-left:10px;">•</span>');
                 $('#menu-toggle').css('color','#37AFD6');
                }
               });
      function date_out(timestmp) {
        var d = new Date(timestmp),
        minutes = d.getMinutes().toString().length == 1 ? '0'+d.getMinutes() : d.getMinutes(),
        hours = d.getHours().toString().length == 1 ? '0'+d.getHours() : d.getHours();
        //ampm = d.getHours() >= 12 ? 'pm' : 'am',
        //months = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'],
        //days = ['Sun','Mon','Tue','Wed','Thu','Fri','Sat'];
        //return days[d.getDay()]+' '+months[d.getMonth()]+' '+d.getDate()+' '+d.getFullYear()+' '+hours+':'+minutes+ampm;
        return hours+':'+minutes+'   '+d.getDate()+'.'+d.getMonth()+'.'+d.getFullYear();
      }
      function show_message (uid,tmstmp) {
      var tmstmp = parseInt(tmstmp);
      var time = new Date(tmstmp);
       var link = '/'+nickstore[uid];
       $('#author_page').attr('href',link);
       $('#sender').empty();
       $('#sender').append(nickstore[uid] + "<span class='glyphicon glyophicon-link' style='color:#ddd;margin-left:10px;'></span>");
       $('#time').text(date_out(tmstmp));
       $('#textbody').empty();
       $('#textbody').append(msgstore[uid]);
       $('#openrespond').text('Respond');
       $('#gettext').val('');
       $('#respond').css('display','none');
       $('#show_msg').modal('show');
       var onclick = "sendmsg('"+uid+"')";
      // $('#submitmsg').attr('onclick',onclick);
       $('#gettext').attr('rcvr',uid);
       eval("if($('#indicator"+tmstmp+"').is(':visible')){console.log('yo');mark_msg_read(tmstmp);}");
      }
      function mark_msg_read (tmstmp) {
      $.ajax({
              method: "POST",
              url: "/stlstmsg",
              data: 'tmstmp='+tmstmp
            }).done(function( msg ) {
                eval("$('#indicator"+tmstmp+"').remove()");
               });
              }
      function sendmsg(rcvr) {
      console.log('msg sendin'); 
      //var rcvr = #{rcvrid}; 
      var sndr = '#{user}';
      var txtbody = $('#gettext').val();
      if(!txtbody) {
        return 0
      }
      console.log(txtbody);
      sndrequest = new XMLHttpRequest();
      sndrequest.onreadystatechange = function () {
      var DONE = this.DONE || 4;
      if(sndrequest.readyState==4 && sndrequest.status==200){
      $('#gettext').val('');
      $('#show_msg').modal('hide');
      $('#openrespond').text('Respond');
      //if (this.readyState === DONE){
      var parsed = JSON.parse(sndrequest.responseText);
      if(parsed.trouble === 1)
      {
      // TO DO do somewthing here
      alert('trouble');
      }
      else {
      }
      }
      };
      sndrequest.open('POST', '/msg', true);
      sndrequest.setRequestHeader('X-Requested-With', 'XMLHttpRequest');  // Tells server that this call is made for ajax purposes.
      sndrequest.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
      //Most libraries like jQuery/Prototype/Dojo do this
      sndrequest.send('rcvr='+rcvr+'&txtbody='+txtbody);
      }
      
