doc
html(lang='en')
head
    meta(charset='utf-8')     
    meta(http-equiv='X-UA-Compatible', content='IE=edge')     
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
    title C     
    link(rel='icon', href='', sizes='16x16', type='image/png')
    // Bootstrap
    link(href='/bootstrap/css/bootstrap.min.css', rel='stylesheet')     
    meta(liber de amicitia est)
    // HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
        
      script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')     
    style.
      .emptybook {
      padding-left:23px;
      }
      .book h4 {
      color:black;
      }
      .book:hover {
      background-color:#eee;
      }
      .book {
      padding-top:10px;
      padding-bottom:10px;
      border-bottom:1px solid #eee;
      }
      #signup {
        padding-top:50px;
        padding-bottom:100px;
      }
      @media (max-width: 767px) {
      #mainframe {
      margin-top:0px;
      }
      #userimg {
      width:130px;
      height:130px;
      }
      .book {
      border-bottom:1px solid #eee;
      padding-left:15px;
      padding-right:15px;
      }
      .emptybook {
      margin-left:0px;
      }
      #leftpanel {
      border-right:0px;
      }
      #booklist {
      border-bottom-left-radius:10px;
      }
      
      .list {
        max-height:inherit;
      }
      .paddgroup {
      padding-left:25px;
      padding-right:25px;
      }
      #signup {
        background-color:#333;
      }
      }
      @media (max-width: 992px) {
      #booklist {
      border-bottom-left-radius:10px;
      }
      #userimg {
      width:150px;
      height:150px;
      }
      .things{
      padding-top:50px;
      }
      }
      @font-face {
      font-family:roboto-thin;
      src: url('/bootstrap/fonts/Roboto-Thin.ttf');
      }
      @font-face{
      font-family:proxima;
      src:url('/bootstrap/fonts/ProximaNova-Reg-webfont.woff');
      }
      @font-face{
      font-family:boldproxima;
      src:url('/bootstrap/fonts/ProximaNova-Sbold-webfont.woff');
      }
      h4 {
      color:gray;
      }
      .thin {
      height:85%;
      }
      .inleftblock {
      border-bottom:1px solid #eee;
      color:gray;
      }
      .inleftblock:hover {
      background-color: #333;
      color:white;
      }
      .inleftblock:hover h4 {
      color:white;
      }
      .glyphicon {
      margin-right:5px;
      }
      .btncorr {
      font-family:boldproxima;
      text-transform:uppercase;
      }
      .img-circle {
      -webkit-filter: brightness(0.9) contrast(1.2) saturate(1.2);
      -moz-filter: brightness(0.9) contrast(1.2) saturate(1.2);
      filter:brightness(0.9) contrast(1.2) saturate(1.2);
      }
      #heyopen {
      -webkit-box-shadow: inset 0px 7px 17px -9px rgba(0,0,0,0.75);
      -moz-box-shadow: inset 0px 7px 17px -9px rgba(0,0,0,0.75);
      box-shadow: inset 0px 7px 17px -9px rgba(0,0,0,0.75);
      }
      .btn {
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      }
      .btn-success {
      background-color:#23BBA7;
      }
      .btn-success:hover {
      background-color:#1F9E8E;
      } 
      a:hover, a:focus, a:active {
        text-decoration:none !important;
        color:inherit !important;
      }
      p{
        text-indent:20px;
        font-size:18px;
      }
      .discussion {
      border-bottom:1px solid #eee;
      padding-top:10px;
      padding-bottom:10px;
      background-color:white;
      }
      .discussion:hover {
        background-color:#f3f3f3;
      }
      .media-body, .media-left, .media-right {
      vertical-align: middle;
      }
      .media-heading{
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      }
      .media {
        margin-left:30px;
      }
      .media-left{
        padding-right:20px;
      }
      .navbar-inverse .navbar-nav>li>a {
        font-weight:200;
      }
  body
    nav.navbar.navbar-default.navbar-fixed-top.navbar-inverse(style='border:0px;margin-bottom:0px;')
      .container-fluid
        // Brand and toggle get grouped for better mobile display
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
            span.sr-only Toggle navigation         
            span.icon-bar         
            span.icon-bar         
            span.icon-bar       
          a.navbar-brand(style='padding-top:5px;', href='#')
            img(src='/images/pb_inf_logo.png', style='border:1px solid #444;border-radius:50%;', height='40', width='40')
        // Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav
            li
              a(href='/')  My lists 
            li.active
              a( id='chat' href='/chat') Messages             
            li
              a(href='/people') People           
            li
              a(href='/settings')  Settings             
            li
              a(href='/about')  About         
          ul.nav.navbar-nav.navbar-right
            li
              a(href='/logout') Logout
    .container(style='padding-top:50px;')
      .row.visible-lg.visible-md.visible-sm(style='height:50px;')
      .row.visible-xs(style='border-bottom:1px solid #eee;text-align:center;padding-bottom:10px;')
        .col-xs-12.col-lg-10.col-lg-offfset-1.col-md-10.col-md-offset-1
          h3(style='font-weight:200;color:#ddd;') Conversations
      .row
        .col-xs-12.col-lg-10.col-lg-offfset-1.col-md-10.col-md-offset-1#discussions
          #noitems.row(style='text-align:center;')  
            .col-xs-12
              h2(style='color:#ccc;margin-bottom:20px;') No items 
          //
            .panel.panel-default
              .panel-body#discussions
    // jQuery (necessary for Bootstrap's JavaScript plugins)
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')
    // Include all compiled plugins (below), or include individual files as needed
    script(src='js/bootstrap.min.js')  
    script.
      //TO DO userpics seem to be cut from the sides, look into that
      var user = !{JSON.stringify(done)};
      user= JSON.parse(user);
      var discussions = !{JSON.stringify(discussions)};
      var counter=0;
      if(!discussions[0])
      {}
      else
      {getdisc(discussions[counter]._id,counter);}
      function getavatar(uid,discid,iter) {
      console.log('getting avatar for: '+uid);
      avatarrequest = new XMLHttpRequest();
      avatarrequest.onreadystatechange = function () {
      var DONE = this.DONE || 4;
      if (this.readyState === DONE){
      var parsed = JSON.parse(avatarrequest.responseText);
      counter++;
      if(counter<discussions.length)
      {getdisc(discussions[counter]._id,counter)}
      if(parsed.trouble === 1)
      {
      // TO DO do somewthing here
      //var insert ="<div class='col-xs-3'><div class='emptyavatar' style='width:50px;height:50px;margin:10px;border:7px dotted #bbb;bakcground-color:white;border-radius:50%;'></div></div>";
      var insert = "<div style='height:50px;border:3px dotted #ddd;width:50px;border-radius:50%;' class='media-object' alt='avatar'></div>";
       eval("$('#cid"+discid+"').append(insert);");
       eval("$('#head"+discid+"').text('Error');");
       eval("$('#head"+discid+"').css('color','#eee');");
      }
      else {
      if(parsed.mtext==='emptypic'){
        console.log('EMPTY AVATAR');
      var insert = "<div style='height:50px;border:3px dotted #ddd;width:50px;border-radius:50%;' class='media-object' alt='avatar'></div>";
       eval("$('#cid"+discid+"').append(insert);");
       eval("$('#head"+discid+"').text('"+parsed.nick+"');");
      }
      else 
      {
        console.log('HAS AVATAR');
      var insert = "<img style='height:50px;' src='/userpics/id"+uid+"_small"+parsed.picext+"' class='media-object img-circle' src='' alt='avatar'>";
      eval("$('#cid"+discid+"').append(insert);");
      eval("$('#head"+discid+"').text('"+parsed.nick+"');");
      }
      }
      }
      };
      avatarrequest.open('POST', '/getavatar/'+uid.toString(), true);
      avatarrequest.setRequestHeader('X-Requested-With', 'XMLHttpRequest');  // Tells server that this call is made for ajax purposes.
      avatarrequest.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
      //Most libraries like jQuery/Prototype/Dojo do this
      avatarrequest.send();
      }
      //------------------//
      function getdisc(discid,iter) {
      console.log('getting discifno: '+discid);
      request = new XMLHttpRequest();
      request.onreadystatechange = function () {
      var DONE = this.DONE || 4;
      if(request.readyState==4 && request.status==200){
      //if (this.readyState === DONE){
      console.log('iter: '+iter+',discid: '+discid+', parsed: '+request.responseText);
      var parsed = JSON.parse(request.responseText);
      if(parsed.trouble === 1)
      {
      // TO DO do somewthing here
      return 0;
      }
      else {
        if($('#noitems').length)
        {$('#discussions').empty();}
        if('#{user}' !=parsed.mtext.rcv)
          {
          var vuid = parsed.mtext.rcv;
          }
        else {
          var vuid = parsed.mtext.snd;
           }
        var lastmsg = '...';
          if(parsed.mtext.msgstore)
          { 
          var lastmsg_num = parsed.mtext.msgstore.length-1;
          var lsttmstmp_msg = parseInt(parsed.mtext.msgstore[lastmsg_num].tmstmp);
          lastmsg = parsed.mtext.msgstore[lastmsg_num].txt;
          if(lastmsg.length>25) {
            lastmsg=lastmsg.slice(0,25)+'...';
          }
        // TO DO do a slice() on string if it >~30 characters so not to flood the discussion row
        }
        var move_discussion_up=0;
        var insert = "<div class='row discussion'><div class='col-xs-12'><div class='media' style='margin-top:0px;'><a href='/chat/"+vuid+"'><div class='media-left' id='cid"+parsed.mtext._id+"'></div><div class='media-body' style='color:#bfbfbf;'><h4 id='head"+parsed.mtext._id+"' class='media-heading' style='color:#333;'></h4>"+lastmsg+"</div></div></a></div></div>";
        if(user.tmstmpstore){ 
          console.log('BREAKPOINT 1');
          console.log('lsttmstmp_msg: '+lsttmstmp_msg);
          console.log('user last timestamp: '+user.tmstmpstore[discid]);
          if (lsttmstmp_msg && lsttmstmp_msg > user.tmstmpstore[discid] ){
          console.log('from timestamp store: '+user.tmstmpstore[discid]);
        insert = "<div class='row discussion' ><div class='col-xs-12'><span style='color:#37AFD6;font-size: 40px;position: absolute;left: 15px;top:-3;'>&#8226;</span><div class='media' style='margin-top:0px;'><a href='/chat/"+vuid+"'><div class='media-left' id='cid"+parsed.mtext._id+"'></div><div class='media-body' style='color:#bfbfbf;'><h4 id='head"+parsed.mtext._id+"' style='color:#333;' class='media-heading'></h4>"+lastmsg+"</div></div></a></div></div>";
        move_discussion_up=1;
        }
        }
        if(move_discussion_up){
          $('#discussions').prepend(insert);
        }  
        else{     
        $('#discussions').append(insert);
        }
        if(parsed.mtext.rcv==='#{user}')
         {getavatar(parsed.mtext.snd,discid,iter);}
       else{
        getavatar(parsed.mtext.rcv,discid,iter);
       }
      }
      }
      };
      request.open('POST', '/getdiscinfo/'+discid, true);
      request.setRequestHeader('X-Requested-With', 'XMLHttpRequest');  // Tells server that this call is made for ajax purposes.
      request.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
      //Most libraries like jQuery/Prototype/Dojo do this
      request.send();
      }
