doc
html(lang='en')
head
    meta(charset='utf-8')     
    meta(http-equiv='X-UA-Compatible', content='IE=edge')     
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
    title C     
    link(rel='icon', href='', sizes='16x16', type='image/png')
    // Bootstrap
    link(href='/bootstrap/css/bootstrap.min.css', rel='stylesheet')     
    meta(liber de amicitia est)
    // HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
        
      script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')     
    style.
      .messages {
      -webkit-box-shadow: -9px 0px 40px 0px #c7c7c7;
      -moz-box-shadow: -9px 0px 40px 0px #c7c7c7;
      box-shadow: -9px 0px 40px 0px #c7c7c7;
      }
      #leftpanel {
      border-right:1px solid #eee;
      min-width:100px;
      padding-top:25px;
      }
      #mainframe {
      -webkit-box-shadow: -9px 0px 40px 0px #c7c7c7;
      -moz-box-shadow: -9px 0px 40px 0px #c7c7c7;
      box-shadow: -9px 0px 40px 0px #c7c7c7;
      margin-top:50px;
      background-color:white;
      border-radius:10px;
      margin-bottom:30px;
      }
      .emptybook {
      padding-left:23px;
      }
      .book h4 {
      color:black;
      }
      .book:hover {
      background-color:#eee;
      }
      .book {
      padding-top:10px;
      padding-bottom:10px;
      border-bottom:1px solid #eee;
      }
      #booklist {
      background-color:#F7F7F7;
      border-top-right-radius:10px;
      border-bottom-right-radius:10px;
      }
      .list {
      min-height:500px;
      max-height:70vh;
      text-align:center;
      padding-top:50px;
      }
      #signup {
        padding-top:50px;
        padding-bottom:100px;
      }
      @media (max-width: 767px) {
      #mainframe {
      margin-top:0px;
      }
      .book {
      border-bottom:1px solid #eee;
      text-align:center;
      padding-left:15px;
      padding-right:15px;
      }
      .emptybook {
      margin-left:0px;
      }
      #leftpanel {
      border-right:0px;
      }
      #booklist {
      border-bottom-left-radius:10px;
      }
      .list {
      max-height:inherit;
      padding-top:0px !important;
      }
      .paddgroup {
      padding-left:25px;
      padding-right:25px;
      }
      #signup {
        background-color:#333;
      }
      }
      @media (max-width: 992px) {
      #booklist {
      border-bottom-left-radius:10px;
      }
      .things{
      padding-top:50px;
      }
      .list {
      padding-top:50px;
      }
      }
      @font-face {
      font-family:roboto-thin;
      src: url('/bootstrap/fonts/Roboto-Thin.ttf');
      }
      @font-face{
      font-family:proxima;
      src:url('/bootstrap/fonts/ProximaNova-Reg-webfont.woff');
      }
      @font-face{
      font-family:boldproxima;
      src:url('/bootstrap/fonts/ProximaNova-Sbold-webfont.woff');
      }
      body {
      background-color:#eee;
      font-family:roboto-thin;
      }
      h1{
      font-family:intro;
      }
      h2{
      font-family:boldproxima;
      text-transform:uppercase;
      }
      h4 {
      color:gray;
      }
      .thin {
      height:85%;
      }
      .inleftblock {
      border-bottom:1px solid #eee;
      color:gray;
      }
      .inleftblock:hover {
      background-color: #333;
      color:white;
      }
      .inleftblock:hover h4 {
      color:white;
      }
      .glyphicon {
      margin-right:5px;
      }
      .btncorr {
      font-family:boldproxima;
      text-transform:uppercase;
      }
      #userimg {
      -webkit-box-shadow: -9px 0px 40px 0px #c7c7c7;
      -moz-box-shadow: -9px 0px 40px 0px #c7c7c7;
      box-shadow: -9px 0px 40px 0px #c7c7c7;
      border:7px solid white;
      }
      .img-circle {
      -webkit-filter: brightness(0.9) contrast(1.2) saturate(1.2);
      -moz-filter: brightness(0.9) contrast(1.2) saturate(1.2);
      filter:brightness(0.9) contrast(1.2) saturate(1.2);
      }
      #heyopen {
      -webkit-box-shadow: inset 0px 7px 17px -9px rgba(0,0,0,0.75);
      -moz-box-shadow: inset 0px 7px 17px -9px rgba(0,0,0,0.75);
      box-shadow: inset 0px 7px 17px -9px rgba(0,0,0,0.75);
      }
      .btn {
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      }
      .btn-success {
      background-color:#23BBA7;
      }
      .btn-success:hover {
      background-color:#1F9E8E;
      } 
      a:hover, a:focus, a:active {
        text-decoration:none !important;
        color:inherit !important;
      }
      p{
        text-indent:20px;
        font-size:18px;
      }
      .bubblesndr{
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      text-align:left;
      margin-bottom:10px;
      color:white;
      position: relative;
      max-width: 385px;
      min-height:60px;
      padding: 15px;
      background: #2F7EFF;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      }
      .bubblesndr:after{
      content: '';
      position: absolute;
      border-style: solid;
      border-width: 10px 0 10px 10px;
      border-color: transparent #2F7EFF;
      display: block;
      width: 0;
      z-index: 1;
      right: -10px;
      bottom: 10px;
      }
      .bubblercvr{
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      text-align:left;
      margin-bottom:10px;
      color:white;
      position: relative;
      max-width: 385px;
      min-height:60px;
      padding: 15px;
      background: #ff9900;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      }
      .bubblercvr:after{
      content: '';
      position: absolute;
      border-style: solid;
      border-width: 10px 10px 10px 0;
      border-color: transparent #ff9900;
      display: block;
      width: 0;
      z-index: 1;
      left: -10px;
      bottom: 10px;
      }
      .bubble {
        padding-left:5px;
        padding-right:5px;
      }
  body
    .container
      #mainframe.row.cuttop
        #leftpanel.thun.col-md-2.visible-lg.visible-md
          #emptyavatar(style='width:150px;height:150px;margin:auto;border:7px dotted #eee;bakcground-color:white;border-radius:50%;')
          h3(style='text-align:center;') 341 
            span(style='color:#ddd;') /
            | 1544
          .row(style='border-top:1px solid #eee;') 
          .inleftblock.row.visible-lg.visible-md
             .col-xs-12
               h4 
                 span(style ='color:#23BBA7;' class='glyphicon glyphicon-plus') 
                 | Add item
          .inleftblock.row.visible-lg.visible-md
            .col-xs-12
              a(href='/')
                h4  Lists   
          .inleftblock.row.visible-lg.visible-md(style='background-color:#333;color:white;')
            .col-xs-12
              a(href='/chat')
                h4  Messages       
          .inleftblock.row.visible-lg.visible-md
            .col-xs-12
              a(href='/people')
                h4  People 
          .inleftblock.row.visible-lg.visible-md
            .col-xs-12
              a(href='/settings')
                h4  Settings     
          .inleftblock.row.visible-lg.visible-md
            .col-xs-12
              a(href='/about')
                h4  About   
          .inleftblock.row.visible-lg.visible-md
            .col-xs-12
              a(href='/logout')
                h4  Logout      
        #booklist.thun.col-md-10
          .row.visible-lg.visible-md(style='background-color:white;border-top-right-radius:10px;')
            .col-xs-12
              h2(style='color:#6CB7B7;') User №#{user}                       
              h4(style='color:#B2D4D4;font-family:boldproxima;text-transform:uppercase;')  Chat with user №#{rcvrid}  
           #mobilehead.row.visible-sm.visible-xs(style='background-color:#333;box-shadow: 0 5px 25px -5px #333;') 
            .col-xs-12(style='min-width:100px;text-align:center;padding-bottom:10px;')
              h2(style='color:white;text-align:center;') Chat with user №#{rcvrid} 
          .list.row
            .col-xs-12
              .row
                #messages.col-md-10.col-md-offset-1.col-sm-12(style='border-radius:7px;min-height:300px;max-height:600px;margin-bottom:15px;padding-top:20px;overflow:auto;')
                  h2(style='background-color:#ccc;font-family:boldproxima;') No messages
              .row(style='margin-bottom:20px;')
                .col-md-10.col-md-offset-1.col-sm-12
                  textarea(id='gettext' class='form-control' style='margin-bottom:15px;')
                  button(class='btn btn-default' id='sendmsg') Отправить
    // jQuery (necessary for Bootstrap's JavaScript plugins)
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')
    // Include all compiled plugins (below), or include individual files as needed
    script(src='js/bootstrap.min.js')  
    script.
      $('#sendmsg').click(sendmsg);
      var discid = #{discid};
      var tmstmp = 0;
      getdisc(discid);
      //------------------//
      function getdisc(discid) {
      request = new XMLHttpRequest();
      request.onreadystatechange = function () {
      var DONE = this.DONE || 4;
      if (this.readyState === DONE){
      var parsed = JSON.parse(request.responseText);
      console.log(parsed);
      if(parsed.trouble === 1)
      {
      // TO DO do somewthing here
      alert('trouble');
      }
      else {
      if(parsed.mtext==='empty'){
      $('#messages').empty();
      $('#messages').append("<div class='row'><div class='col-xs-12'><h4 id='empty' style='text-align:center;'>No messages</h4></div></div>");
      }
      else 
      {
      $('#messages').empty();
      for(var i=0;i<parsed.msgstore.length;i++){
            if(parseInt(parsed.msgstore[i].rcvr) === #{user})
            {tmstmp = parsed.msgstore[i].tmstmp;
            $('#messages').append("<div class='row bubble'><div class='col-xs-12'><div class='bubblercvr pull-left'>"+parsed.msgstore[i].txt+"</div></div></div>");
            }
            else {
              $('#messages').append("<div class='row bubble'><div class='col-xs-12'><div class='bubblesndr pull-right'>"+parsed.msgstore[i].txt+"</div></div></div>");
            }    
          }
          $("#messages").animate({ scrollTop: $('#messages').height() }, 600);
      }
      }
      }
      };
      var url='/getdisc/'+discid;
      request.open('POST', url, true);
      request.setRequestHeader('X-Requested-With', 'XMLHttpRequest');  // Tells server that this call is made for ajax purposes.
      request.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
      //Most libraries like jQuery/Prototype/Dojo do this
      request.send();
      }
      $('#sendmsg').scrollIntoView();
      function sendmsg() {
      console.log('msg sendin');
      var rcvr = #{rcvrid};  
      var sndr = #{user};
      var txtbody = $('#gettext').val();
      console.log(txtbody);
      sndrequest = new XMLHttpRequest();
      sndrequest.onreadystatechange = function () {
      var DONE = this.DONE || 4;
      if(sndrequest.readyState==4 && sndrequest.status==200){
      //if (this.readyState === DONE){
      var parsed = JSON.parse(sndrequest.responseText);
      if(parsed.trouble === 1)
      {
      // TO DO do somewthing here
      alert('trouble');
      }
      else {
         $('#gettext').val('');
         if($('#messages').find('#empty').length){
          $('#messages').empty();
        }
        $('#messages').append("<div class='row bubble'><div class='col-xs-12'><div class='bubblesndr pull-right'>"+txtbody+"</div></div></div>");
        $("#messages").animate({ scrollTop: $('#messages').height() }, 600);
      }
      }
      };
      sndrequest.open('POST', '/disc/#{discid}', true);
      sndrequest.setRequestHeader('X-Requested-With', 'XMLHttpRequest');  // Tells server that this call is made for ajax purposes.
      sndrequest.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
      //Most libraries like jQuery/Prototype/Dojo do this
      sndrequest.send('sndr='+sndr+'&rcvr='+rcvr+'&txtbody='+txtbody);
      }
      function getmsg() {
      console.log('getting msg');
      request = new XMLHttpRequest();
      request.onreadystatechange = function () {
      var DONE = this.DONE || 4;
      if(request.readyState==4 && request.status==200){
      //if (this.readyState === DONE){
      var parsed = JSON.parse(request.responseText);
      if(parsed.trouble === 1)
      {
      // TO DO do somewthing here
      console.log('trouble or empty');
      }
      else {
        if($('#messages').find('#empty').length){
          $('#messages').empty();
        }
        for(var i=0;i<parsed.msgstore.length;i++){
            if(parseInt(parsed.msgstore[i].rcvr) === #{user})
            {tmstmp = parsed.msgstore[i].tmstmp;
            $('#messages').append("<div class='row bubble'><div class='col-xs-12'><div class='bubblercvr pull-left'>"+parsed.msgstore[i].txt+"</div></div></div>");
            $("#messages").animate({ scrollTop: $('#messages').height() }, 600);
            }    
          }
        //if(parsed.mult){
        //  for(var i=0;i<parsed.msgstore.length;i++){
        //    if(parseInt(parsed.msgstore[i].rcvr) === #{user})
        //    {tmstmp = parsed.msgstore[i].tmstmp;
        //    $('#messages').append("<div class='row bubble'><div class='col-xs-12'><class='bubblercvr pull-right'>"+parsed.msgstore[i].txt+"</div></div></div>");
        //    }    
        //  }
        //}
        //else {
        //  tmstmp = parsed.msgstore[i].tmstmp;
        //  $('#messages').append("<div class='row bubble'><div class='col-xs-12'><class='bubblercvr pull-right'>"+parsed.msgstore[i].txt+"</div></div></div>");
        //}
      }
      }
      };
      request.open('POST', '/disccheck/#{discid}/#{user}', true);
      request.setRequestHeader('X-Requested-With', 'XMLHttpRequest');  // Tells server that this call is made for ajax purposes.
      request.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
      //Most libraries like jQuery/Prototype/Dojo do this
      request.send('tmstmp='+tmstmp+'&uid='+#{user});
      }
      setInterval(getmsg, 5000);
