doc
html(lang='en')
head
    meta(charset='utf-8')     
    meta(http-equiv='X-UA-Compatible', content='IE=edge')     
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
    title C     
    link(rel='icon', href='', sizes='16x16', type='image/png')
    // Bootstrap
    link(href='/bootstrap/css/bootstrap.min.css', rel='stylesheet')     
    meta(liber de amicitia est)
    // HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
        
      script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')     
    style.
      #mcont2{
      flex: 1;
      flex-direction: column;
      overflow:auto;
      flex-grow:4;
      }
      #mcont {
        max-height:350px;
      }
      #keypad {
        margin-bottom:20px;
      }
      .messages {
      -webkit-box-shadow: -9px 0px 40px 0px #c7c7c7;
      -moz-box-shadow: -9px 0px 40px 0px #c7c7c7;
      box-shadow: -9px 0px 40px 0px #c7c7c7;
      }
      .emptybook {
      padding-left:23px;
      }
      .book h4 {
      color:black;
      }
      .book:hover {
      background-color:#eee;
      }
      .book {
      padding-top:10px;
      padding-bottom:10px;
      border-bottom:1px solid #eee;
      }
      #signup {
        padding-top:50px;
        padding-bottom:100px;
      }
      @media (max-width: 767px) {
      li a {
        font-size:20px;
        letter-spacing:1px;
        padding-top:15px !important;
        padding-bottom:15px !important;
      }
      #mcont2 {
        flex-grow:3;
      }
      #mcont{
        max-height:200px;
      }
      #keypad {
        margin-bottom:10px;
      }
      #mainframe {
      margin-top:0px;
      }
      #userimg {
      width:130px;
      height:130px;
      }
      .book {
      border-bottom:1px solid #eee;
      text-align:center;
      padding-left:15px;
      padding-right:15px;
      }
      .emptybook {
      margin-left:0px;
      }
      #leftpanel {
      border-right:0px;
      }
      #booklist {
      border-bottom-left-radius:10px;
      }
      
      .list {
        max-height:inherit;
      }
      .paddgroup {
      padding-left:25px;
      padding-right:25px;
      }
      #signup {
        background-color:#333;
      }
      }
      @media (max-width: 992px) {
      #booklist {
      border-bottom-left-radius:10px;
      }
      #userimg {
      width:150px;
      height:150px;
      }
      .things{
      padding-top:50px;
      }
      }
      @font-face {
      font-family:roboto-thin;
      src: url('/bootstrap/fonts/Roboto-Thin.ttf');
      }
      @font-face{
      font-family:proxima;
      src:url('/bootstrap/fonts/ProximaNova-Reg-webfont.woff');
      }
      @font-face{
      font-family:boldproxima;
      src:url('/bootstrap/fonts/ProximaNova-Sbold-webfont.woff');
      }
      h4 {
      color:gray;
      }
      .thin {
      height:85%;
      }
      .inleftblock {
      border-bottom:1px solid #eee;
      color:gray;
      }
      .inleftblock:hover {
      background-color: #333;
      color:white;
      }
      .inleftblock:hover h4 {
      color:white;
      }
      .glyphicon {
      margin-right:5px;
      }
      .btncorr {
      font-family:boldproxima;
      text-transform:uppercase;
      }
      .img-circle {
      -webkit-filter: brightness(0.9) contrast(1.2) saturate(1.2);
      -moz-filter: brightness(0.9) contrast(1.2) saturate(1.2);
      filter:brightness(0.9) contrast(1.2) saturate(1.2);
      }
      #heyopen {
      -webkit-box-shadow: inset 0px 7px 17px -9px rgba(0,0,0,0.75);
      -moz-box-shadow: inset 0px 7px 17px -9px rgba(0,0,0,0.75);
      box-shadow: inset 0px 7px 17px -9px rgba(0,0,0,0.75);
      }
      .btn {
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      }
      .btn-success {
      background-color:#23BBA7;
      }
      .btn-success:hover {
      background-color:#1F9E8E;
      } 
      a:hover, a:focus, a:active {
        text-decoration:none !important;
        color:inherit !important;
      }
      p{
        text-indent:20px;
        font-size:18px;
      }
      .bubblesndr{
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      text-align:left;
      margin-bottom:10px;
      color:white;
      position: relative;
      max-width: 385px;
      padding-top: 5px;
      padding-bottom: 7px;
      padding-left: 15px;
      padding-right: 15px;
      background: #2F7EFF;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      }
      .bubblesndr:after{
      content: '';
      position: absolute;
      border-style: solid;
      border-width: 10px 0 10px 10px;
      border-color: transparent #2F7EFF;
      display: block;
      width: 0;
      z-index: 1;
      right: -6px;
      bottom: 5px;
      }
      .bubblercvr{
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      text-align:left;
      margin-bottom:10px;
      color:#333;
      position: relative;
      max-width: 385px;
      padding-top: 5px;
      padding-bottom: 7px;
      padding-left: 15px;
      padding-right: 15px;
      background: #eee;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      }
      .bubblercvr:after{
      content: '';
      position: absolute;
      border-style: solid;
      border-width: 10px 10px 10px 0;
      border-color: transparent #eee;
      display: block;
      width: 0;
      z-index: 1;
      left: -6px;
      bottom: 5px;
      }
      .bubble {
        padding-left:5px;
        padding-right:5px;
      }
      .navbar-inverse .navbar-nav>li>a {
        font-weight:200;
      }
      #avatars {
        margin-bottom:20px;
      }
  body
    nav.navbar.navbar-default.navbar-fixed-top.navbar-inverse(style='border:0px;margin-bottom:0px;')
      .container-fluid
        // Brand and toggle get grouped for better mobile display
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
            span.sr-only Toggle navigation         
            span.icon-bar         
            span.icon-bar         
            span.icon-bar       
          a.navbar-brand(style='padding-top:5px;', href='/')
            img(src='/images/pb_inf_logo.png', style='border:1px solid #444;border-radius:50%;', height='40', width='40')
        // Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav
            li
              a(href='/')  My lists 
            li
              a( id='chat' href='/chat') Messages             
            li
              a(href='/people') People           
            li
              a(href='/settings')  Settings             
            li
              a(href='/about')  About         
          ul.nav.navbar-nav.navbar-right
            li
              a(href='/logout') Logout
    //.container(style='padding-top:70px;height:100vh;display:flex;flex-direction: column;')
    .container(style='padding-top:70px;height:100vh;')
      .row
        .col-md-8.col-md-offset-2.col-sm-12#avatars
      .row#mcont(style='overflow:auto;')
        .col-md-8.col-md-offset-2.col-sm-12#messages
          h2#empty(style='color:#ddd;text-align:center;margin-top:100px;') No messages
      .row#keypad(style='margin-top:10px')
        .col-md-8.col-md-offset-2.col-sm-12
          textarea(id='gettext' class='form-control' style='margin-bottom:15px;')
          button(class='btn btn-default' id='sendmsg') Отправить
      //
        .row(style=' flex: 0.6;display: flex;flex-direction: column;')
        .col-md-8.col-md-offset-2.col-sm-12#avatars
        .row#mcont
          .col-md-8.col-md-offset-2.col-sm-12#messages(style='overflow:auto;')
            h2#empty(style='color:#ddd;text-align:center;margin-top:100px;') No messages
        .row#keypad(style=' flex: 1.2;flex-direction: column;margin-top:10px')
    // jQuery (necessary for Bootstrap's JavaScript plugins)
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')
    script(src="//cdn.jsdelivr.net/jquery.scrollto/2.1.2/jquery.scrollTo.min.js")
    // Include all compiled plugins (below), or include individual files as needed
    script(src='/js/bootstrap.min.js')  
    script.
      //$('#gettext').focus(function(){
      //  $('.attention').removeClass('attention');
      //  });
      $('#sendmsg').click(sendmsg);
      var discid = '#{discid}';
      var tmstmp = 0;
      getdisc(discid);
      //------------------//
      function getdisc(discid) {
      request = new XMLHttpRequest();
      request.onreadystatechange = function () {
      var DONE = this.DONE || 4;
      if (this.readyState === DONE){
      var parsed = JSON.parse(request.responseText);
      console.log(parsed);
      if(parsed.trouble === 1)
      {
      // TO DO do somewthing here
      alert('trouble');
      }
      else {
      if(parsed.mtext==='empty'){
      //$('#messages').empty();
      //$('#messages').append("<div class='row'><div class='col-xs-12'><h2 style='text-align:center;'>No messages</h4></div></div>");
      console.log('into new_getmsg');
      new_getmsg(Date.now());
      }
      else 
      {
      $('#messages').empty();
      for(var i=0;i<parsed.msgstore.length;i++){
            if(parsed.msgstore[i].rcvr === '#{user}')
            {tmstmp = parsed.msgstore[i].tmstmp;
              console.log('1tmstmp: '+tmstmp);
            $('#messages').append("<div class='row bubble' id='"+tmstmp+"'><div class='col-xs-12'><div class='bubblercvr pull-left'>"+parsed.msgstore[i].txt+"</div></div></div>");
            }
            else {
              //tmstmp = parsed.msgstore[i].tmstmp;
              $('#messages').append("<div class='row bubble'  id='"+tmstmp+"'><div class='col-xs-12'><div class='bubblesndr pull-right'>"+parsed.msgstore[i].txt+"</div></div></div>");
              if(i===parsed.msgstore.length-1){
                tmstmp = parsed.msgstore[i].tmstmp;
              }
            }    
          }
          new_getmsg(tmstmp);
          $('#mcont').scrollTo(document.getElementById(tmstmp.toString()),400);
      }
      }
      }
      };
      var url='/getdisc/'+discid;
      request.open('POST', url, true);
      request.setRequestHeader('X-Requested-With', 'XMLHttpRequest');  // Tells server that this call is made for ajax purposes.
      request.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
      //Most libraries like jQuery/Prototype/Dojo do this
      request.send();
      }
      //$('#sendmsg').scrollIntoView();
      var rcvr = '#{rcvrid}'; 
      function sendmsg() {
      console.log('msg sendin'); 
      //var rcvr = #{rcvrid}; 
      var sndr = '#{user}';
      var txtbody = $('#gettext').val();
      console.log(txtbody);
      sndrequest = new XMLHttpRequest();
      sndrequest.onreadystatechange = function () {
      var DONE = this.DONE || 4;
      if(sndrequest.readyState==4 && sndrequest.status==200){
      //if (this.readyState === DONE){
      var parsed = JSON.parse(sndrequest.responseText);
      if(parsed.trouble === 1)
      {
      // TO DO do somewthing here
      alert('trouble');
      }
      else {
         $('#gettext').val('');
         if($('#messages').find('#empty').length){
          $('#messages').empty();
        }
        var tmstmp = Date.now();
        $('#messages').append("<div class='row bubble' id='"+tmstmp+"'><div class='col-xs-12'><div class='bubblesndr pull-right'>"+txtbody+"</div></div></div>");
        //$("#messages").animate({ scrollTop: $('#messages').height() }, 600);
       //scroll('#'+tmstmp.toString()); 
       console.log('LENGTH :'+document.getElementById(tmstmp.toString()));
       $('#mcont').scrollTo(document.getElementById(tmstmp.toString()),400);
      }
      }
      };
      sndrequest.open('POST', '/disc/#{discid}', true);
      sndrequest.setRequestHeader('X-Requested-With', 'XMLHttpRequest');  // Tells server that this call is made for ajax purposes.
      sndrequest.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
      //Most libraries like jQuery/Prototype/Dojo do this
      sndrequest.send('sndr='+sndr+'&rcvr='+rcvr+'&txtbody='+txtbody);
      }
      // getmsg is not used, switched to longpolling new_getmsg
      //function getmsg() {
      //console.log('getting msg');
      //request = new XMLHttpRequest();
      //request.onreadystatechange = function () {
      //var DONE = this.DONE || 4;
      //if(request.readyState==4 && request.status==200){
      ////if (this.readyState === DONE){
      //var parsed = JSON.parse(request.responseText);
      //if(parsed.trouble === 1)
      //{
      //// TO DO do somewthing here
      //console.log('trouble or empty');
      //}
      //else {
      //  //TO DO what if no messages recieved from server?
      //  if($('#empty').length){
      //    $('#messages').empty();
      //  }
      //  for(var i=0;i<parsed.msgstore.length;i++){
      //      if(parseInt(parsed.msgstore[i].rcvr) === '#{user}')
      //      {tmstmp = parsed.msgstore[i].tmstmp;
      //      $('#messages').append("<div class='row bubble'><div class='col-xs-12'><div class='bubblercvr pull-left'>"+parsed.msgstore[i].txt+"</div></div></div>");
      //     // $("#messages").animate({ scrollTop: $('#messages').height() }, 600);
      //      }    
      //    }
      //}
      //}
      //};
      //request.open('POST', '/disccheck/#{discid}/#{user}', true);
      //request.setRequestHeader('X-Requested-With', 'XMLHttpRequest');  // Tells server that this call is made for ajax purposes.
      //request.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
      ////Most libraries like jQuery/Prototype/Dojo do this
      //request.send('tmstmp='+tmstmp+'&uid='+'#{user}');
      //}
      //setInterval(getmsg, 5000);
      function new_getmsg(tmstmp) {
        $.ajax({
              method: "POST",
              url: "/gtm/#{discid}",
              data: 'tmstmp='+tmstmp+'&uid='+'#{user}'
            }).done(function( msg ) {
               if(msg.trouble === 1)
                {
                // TO DO do somewthing here
                console.log('trouble or empty');
                }
                else {
                  //TO DO what if no messages recieved from server?
                  if($('#messages').find('#empty').length){
                    $('#messages').empty();
                  }
                  for(var i=0;i<msg.msgstore.length;i++){
                      if(msg.msgstore[i].rcvr === '#{user}')
                      {tmstmp = msg.msgstore[i].tmstmp;
                        console.log('SETTING TIMESTAMP: '+tmstmp);
                      $('#messages').append("<div class='row bubble attention' id='"+tmstmp+"'><div class='col-xs-12'><div class='bubblercvr pull-left'>"+msg.msgstore[i].txt+"</div></div></div>");
                     // $("#messages").animate({ scrollTop: $('#messages').height() }, 600);
                        console.log('LENGTH :'+document.getElementById(tmstmp.toString()));
                       $('#mcont').scrollTo(document.getElementById(tmstmp.toString()),400);
                      }    
                    }
                }
                new_getmsg(tmstmp);
              }).fail(function(){console.log('fault longpol');setTimeout(new_getmsg(tmstmp),2000);});
      }
      function getavatar(uid) {
      avatarrequest = new XMLHttpRequest();
      avatarrequest.onreadystatechange = function () {
      var DONE = this.DONE || 4;
      if (this.readyState === DONE){
      var parsed = JSON.parse(avatarrequest.responseText);
       //var insert = "<img src='/userpics/id"+uid+"_small"+parsed.picext+"' class='pull-left img-circle'>";
       if(parsed.mtext === 'emptypic') {
        var insert = "<div class='media' style='margin-top:0px;'><a href='/u/"+parsed.nick+"'><div class='media-left'><div style='height:50px;border:3px dotted #ddd;width:50px;border-radius:50%;' class='media-object' alt='avatar'></div></div><div class='media-body'><h4 class='media-heading' style='color:#333;margin-top: 15;'>"+parsed.nick+"</h4></div></a></div>";
       }
       else {
       var insert = "<div class='media' style='margin-top:0px;'><a href='/u/"+parsed.nick+"'><div class='media-left'><img style='height:50px;' class='media-object img-circle' src='/userpics/id"+uid+"_small"+parsed.picext+"' alt='avatar'></div><div class='media-body'><h4 class='media-heading' style='color:#333;margin-top: 15;'>"+parsed.nick+"</h4></div></a></div>";}
       $('#avatars').append(insert);
      }
      };
      avatarrequest.open('POST', '/getavatar/'+uid.toString(), true);
      avatarrequest.setRequestHeader('X-Requested-With', 'XMLHttpRequest');  // Tells server that this call is made for ajax purposes.
      avatarrequest.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
      //Most libraries like jQuery/Prototype/Dojo do this
      avatarrequest.send();
      }
      getavatar(rcvr);
      function scroll(element){
        console.log('SUPPOSED TO: '+element);
        var scrollTop = $(element).offset().top;
        // скроллим страницу на значение равное позиции элемента
        $(document).scrollTop(scrollTop);
      }
