doctype html(lang='en')
head
    meta(charset='utf-8')
    |     
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    |     
    meta(name='viewport', content='width=device-width, initial-scale=1')
    |     
    title P&B
    // Bootstrap
    link(href='/bootstrap/css/bootstrap.min.css', rel='stylesheet')
    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
      |       
      script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')     
    style.
      @font-face {
      font-family:proxima;
      src:url('/bootstrap/fonts/ProximaNova-Reg-webfont.woff');
      }
      @font-face {
      font-family:boldproxima;
      src:url('/bootstrap/fonts/ProximaNova-Sbold-webfont.woff');
      }
      @font-face {
      font-family:roboto-thin;
      src:url('/bootstrap/fonts/Roboto-Thin.ttf');
      }
      @font-face {
      font-family:high;
      src: url('/bootstrap/fonts/Attentica.ttf');
      }
      body {
      }
      h1, h2, h3, h4, h5, h6 {
        font-weight:300;
      }
      .navbar-nav {
       float: right;
      }
      .container {
        transition: 0.5s -webkit-filter linear;
        transition: 0.5s -moz-filter linear;
        -webkit-transition: 0.5s -webkit-filter linear;
        -moz-transition: 0.5s -moz-filter linear;
      }
      .navbar-right {
        float: none !important; 
      }
      .navbar-form {
        padding-top: 6 !important;
      }
      input[type="text"], textarea {
      outline: none;
      box-shadow:none !important;
      }
      .datecl {
        color:#333;
      }
      .yet{
       color:white;
      }
      .alreadyb{
      color:rgba(0, 0, 0, 0.27);
      }
      .alreadym{
      color:rgba(255, 255, 255, 0.21);
      }
      .leftPaddingExtended{
        padding-left:30px;
      }
      textarea:hover, 
      input:hover, 
      textarea:active, 
      input:active, 
      textarea:focus, 
      input:focus,
      button:focus,
      button:active,
      button:hover
      {
          outline:0px !important;
          -webkit-appearance:none;
      }
      .bckgrnd {
      width:100%;
      height:100%;
      background-image:url('/bootstrap/images/books.jpg');
      position:fixed;
      background-position:center;
      background-size: cover;
      background-repeat:no-repeat;
      filter: brightness(0.6);
      -webkit-filter: brightness(0.6);
      -moz-filter: brightness(0.6);
      -o-filter: brightness(0.6);
      transition: 0.5s -webkit-filter linear;
        transition: 0.5s -webkit-filter linear;
        transition: 0.5s -moz-filter linear;
        -webkit-transition: 0.5s -webkit-filter linear;
        -moz-transition: 0.5s -moz-filter linear;
      }
      nav ul li a {
        border:0px !important;
        background-color:rgba(255, 255, 255, 0.26) !important;
        color:white !important;
      }
      .itemcol {
        min-height:100vh;
        padding-left:0px;
        padding-right:0px;
        padding-bottom:30px;
      }
      .itemcol h1{
        margin-top:10%;
        margin-bottom:0px;
        color:black;
        font-size:100px;
        font-family:high;
        text-align:center;
      }
      .itemcol h5{
        margin-top:0px;
        margin-bottom:5%;
        font-family:arial;
        text-transform:uppercase;
        letter-spacing:2px;
        font-size:10px;
        text-align:center;
      }
      //th:first-child {
      //  padding-left:30px !important;
      //}
      th {
        font-weight:300;
      }
      .btn-iosdark,btn-iosdark-add {
      background-color:white;
      border:1px solid #333;
      color:#333;
      }
      .btn-iosdark:focus, .btn-iosdark:active, .btn-iosdark:hover {
        background-color:#333;
        color:white;
      }
      .btn-iosdark.active {
        background-color:#333;
        color:white;
      }
      .btn-iosdark .badge {
        background-color:#ddd;
        color:#333;
      }
      .btn-iosdark.active .badge {
        background-color:white;
        color:#333;
      }
      .modal-sm .btn-iosdark, .modal-footer .btn-iosdark {
        box-shadow:none;
        border:none;
        background-color:#2d2d2d;
      }
      .modal-sm .btn-iosdark:hover,.modal-footer .btn-iosdark:hover {
        background-color:#424242;
      }
      .modal-sm .modal-body .btn, .modal-footer .btn {
      height:50px;
      border-radius:0px;
      border-bottom:1px solid #4e4e4e;
      color:white;
      }
      h4 {
        word-wrap:break-word;
      }
      .modal-sm h4 {
        padding-right:15px;
        padding-left:15px;
      }
      .modal-sm .modal-body .btn:last-child,.modal-footer .btn:last-child {
        border:none;
        border-bottom-left-radius:6px;
        border-bottom-right-radius:6px;
      }
      .modal-sm .modal-body {
        padding:0px;
        padding-top:15px;
      }
      .modal-header {
      border:none;
      }
      .modal-content{
        border:none;
        box-shadow:none;
      }
      .fileUpload {
          position: relative;
          overflow: hidden;
          margin: 10px;
      }
      .fileUpload input.upload {
          position: absolute;
          top: 0;
          right: 0;
          margin: 0;
          padding: 0;
          font-size: 20px;
          cursor: pointer;
          opacity: 0;
          filter: alpha(opacity=0);
      }
      .btn-ioslight {
        color:white;
        background-color:rgba(0,0,0,0);
        border:1px solid white;
      }
      .btn-ioslight:hover{
        color:#333;
        background-color:white;
      }
      .modal-dialog {
      margin-top: 15%;
      }
      .modal-sm .modal-body .btn,.modal-footer .btn {
      color: #b9b9b9;  
      letter-spacing: 2px;
      font-weight: 100;
      }
      .modal-sm h4 {
      margin-bottom: 30px;
      }
      .modal-footer{
        padding:0px;
        border-top:0px;
      }
      .form-control#year,.form-control#mtitle{
        color:#0d5830;
        font-weight:300 !important;
      }
      .form-control:focus{
       /* border:none;*/
      }
      input[type=text]::-webkit-input-placeholder {color:#28d476;}
      input[type=text]::-moz-placeholder          {color:#28d476;}/* Firefox 19+ */
      input[type=text]:-moz-placeholder           {color:#28d476;}/* Firefox 18- */
      input[type=text]:-ms-input-placeholder      {color:#28d476;}/**/
      #addbook .btn-iosdark-add.active {
      background-color: #178e4d;
      color: #28d476;
      }
      #addbook .btn-iosdark-add {
      background-color: #21b363;
      border: 1px solid #158448;
      color: #0d5830;
      }
      #addbook input{
      background-color: #1aa057;
      border: 1px solid #178e4d;
      }
      .dropdown-menu>.disabled>a, .dropdown-menu>.disabled>a:focus, .dropdown-menu>.disabled>a:hover {
          background-color: #ddd;
      }
      .dropdown-menu>.disabled>a:hover {
        background-color: #ddd;
        cursor:auto;
      }
  body
    .modal.fade(id='friends' tabindex="-1" role="dialog" aria-labelledby="myModalLabel")
      .modal-dialog(role="document")
        .modal-content
          .modal-header
            button(type="button" class="close" data-dismiss="modal" aria-label="Close")
              span(aria-hidden="true") ×
            h4(class="modal-title" ) You follow
          .modal-body  
            table.table.table-striped(style='color:#0c7d57;')
              tbody.friendslist
                tr.noitemsfriends
                  th(style='padding-left:30px !important;') Пока пусто
          .modal-footer(style='text-align:center;')
            button(class='btn btn btn-iosdark  form-control btn-submit'  id='closefriends' ) Close
    .modal.fade.add_mod(id="addbook" tabindex="-1" role="dialog" aria-labelledby="myModalLabel")
      .modal-dialog(role="document")
        .modal-content(style='background-color:#21b363;')
          .modal-header
            button(type="button" class="close" data-dismiss="modal" aria-label="Close")
              span(aria-hidden="true") ×
            h4(class="modal-title" ) 
              span(style='font-weight:bold;') + 
              | Добавляем фильм
          .modal-body
            .row  
              .col-xs-12
                form
                  .form-group
                    label(for="mtitle") Titile
                    input(type="text" maxlength="50" class="form-control" id="mtitle" autocomplete='off' placeholder="The Matrix")
                    .row.autocomp#autocompmovies
                      .col-xs-12#srm
                  .form-group
                    label(for="year") Year
                    input(type="text" class="form-control" id="year" autocomplete='off' maxlength="4"  placeholder="1999")
            .row  
              .col-xs-12(style='padding-top:20px;padding-bottom:20px;')
                .btn-group#new_old(style='display:block;')
                  button(class='btn btn-iosdark-add active' id='oldmovie' type='button') Посмотрел
                  button(class=' btn btn-iosdark-add' id='newmovie'  type='button' )  В планах
            .row  
              .col-xs-12(style='padding-top:20px;padding-bottom:20px;')
                .btn-group(style='display:block;')
                  button(class='btn btn-iosdark-add' id='hasstar' type='button') Выделить
                  button(class=' btn btn-iosdark-add active' id='nostar'  type='button' )  Не надо            
          .modal-footer(style='text-align:center;')
            button(class='btn btn btn-iosdark  form-control btn-submit'  id='submitmovie' ) Добавить
    .modal.fade.bs-example-modal-sm(id='moviemodal' tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel")
      .modal-dialog.modal-sm
        .modal-content#colourful
          .modal-header
            button(type="button" class="close" data-dismiss="modal" aria-label="Close")
              span(aria-hidden="true") ×
          .modal-body
            h4.moviemodaltitle(style='text-align:center;')
            //a(class='btn btn-iosdark  form-control link_view' style='margin-top:5px;') View 
            button(class='btn btn-iosdark  form-control switch') Switch column
            button(class='btn btn-iosdark form-control movie_remove') Remove
    //.container(style='z-index:2;')  
    .container-fluid(style='z-index:2;')
      .row(style='display:none;')
        .col-xs-12
          form(method='post',action='/backup',role='form',id='backupform')
      .row(style='text-align:center;')
        .col-sm-10.col-sm-offset-1
          h1(style='font-family:boldproxima;color:#0f5c82;') MY LISTS
          //h2(style='font-family:boldproxima;text-transform:uppercase;') фильмов посмотрел
          .btn-group(style='margin-bottom:10%;')
            button.btn.btn-default.add + add
            .btn-group
              button(class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Menu
                span.caret
              ul.dropdown-menu(aria-labelledby="dropdownMenu2")
                li.disabled
                  a movies
                li
                  a(href="/counter/p3345/b") books
                li
                  .divider(role="separator")
                li
                  a(onclick='getfriends()') Firends
                li
                  a(href="#") Backup
                li
                  a(href="#") Restore
                li 
                  a(href="/counter/settings") Settings
                li
                  .divider(role="separator")
                li
                  a(href="/counter/logout") Logout
          table.table.table-striped.table-bordered.table-hover
            thead
              tr
                th Seen movies
                th New movies
                th Read books
                th New books
            tbody#combitems
              tr.noitems
                th(style='padding-left:30px !important;') Пока пусто
                th --
    
      
      script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
      script(async src='/js/bootstrap.min.js')
      script.
        $('#about').click(function(){
          if($('#oldones').css('display')!='none'){
          $('#oldones').css('overflow','hidden');
          }
          else {
          $('#newones').css('overflow','hidden');
          }
          $('#wait').fadeIn();
          });
        $('.seen').click(function(){
          if(!$('.seen').hasClass('active')){
            $('#newones').hide();
            $('#oldones').show();
            $('.new').removeClass('active');
            $('.seen').addClass('active');
          }
          });
        $('.new').click(function(){
          if(!$('.new').hasClass('active')) {
            $('#newones').show();
            $('#oldones').hide();
            $('.seen').removeClass('active');
            $('.new').addClass('active');
          }
          });
        $('#closewait').click(function(){
          $('#wait').fadeOut();
          if($('#oldones').css('display')!='none'){
          $('#oldones').css('overflow','auto');
          }
          else {
          $('#newones').css('overflow','auto');
          }
          });
        //----------------------------//
        $('.add').click(function(){
          $('#addbook').modal('show');
          if($('#oldones').css('display')!='none')
            { $('#oldmovie').addClass('active');
              $('#newmovie').removeClass('active');}
          else {
             $('#newmovie').addClass('active');
          $('#oldmovie').removeClass('active');
          }
          });
        $('#oldmovie').click(function(){
        if($('#oldmovie').hasClass('active')){
        }
        else{
          $('#oldmovie').addClass('active');
          $('#newmovie').removeClass('active');
        }
        });
        $('#newmovie').click(function(){
        if($('#newmovie').hasClass('active')){
        }
        else{
          $('#newmovie').addClass('active');
          $('#oldmovie').removeClass('active');
        }
        });
        //
         $('#hasstar').click(function(){
        if($('#hasstar').hasClass('active')){
        }
        else{
          $('#hasstar').addClass('active');
          $('#nostar').removeClass('active');
        }
        });
        $('#nostar').click(function(){
        if($('#nostar').hasClass('active')){
        }
        else{
          $('#nostar').addClass('active');
          $('#hasstar').removeClass('active');
        }
        });
        function sortByKey(array, key) {
          return array.sort(function(a, b) {
              var x = parseInt(a[key]); var y = parseInt(b[key]);
              return ((x < y) ? -1 : ((x > y) ? 1 : 0));
          });
        }
        String.prototype.capitalizeFirstLetter = function() {
          return this.charAt(0).toUpperCase() + this.slice(1);
        }
        function level() {
          $('#oldcol').height()>$('#newcol').height()?$('#newcol').height($('#oldcol').height()):$('#oldcol').height($('#newcol').height());
        }
        //---------------------------//
        var seenmovies;
        var newmovies;
        //$.ajax({
        //      method: "POST",
        //      url: "/counter/getstat_m",
        //      data: 0
        //    })
        //      .done(function( msg ) {
        //        if(!msg.trouble) {
        //          console.log(msg.doc);
        //          seenmovies = msg.doc[0].oldones;
        //          newmovies = msg.doc[0].newones;
        //          $('#oldnum').text(seenmovies);
        //          $('#newnum').text(newmovies);
        //        }
        //        });
        var consolidated_m_old=[];
        var consolidated_m_new=[];
        $.ajax({
              method: "POST",
              url: "/counter/getmovies",
              data: 0
            })
              .done(function( msg ) {
                if(!msg.trouble) {
                  console.log('movies: '+JSON.stringify(msg.doc));
                   movies=msg.doc;
                  if(!movies || !movies.moviestore) {
                   console.log('no movies');
                   }
                   else {
                    seenmovies = msg.doc.oldones;
                    newmovies = msg.doc.newones;
                    $('#oldnum').text(seenmovies);
                    $('#newnum').text(newmovies);
                    msg.doc.moviestore.forEach(function (element,index){
                    if(element.movietitle)
                    { element.i_type='m';
                      if(element.newmovie)
                      {consolidated_m_new.push(element);}
                      else{
                       consolidated_m_old.push(element);
                      }
                    }
                    });
                   }
                   if(consolidated_m_new.length){
                   sortByKey(consolidated_m_new, 'tmstmp');
                   }
                   if(consolidated_m_old.length){
                    sortByKey(consolidated_m_old,'tmstmp');
                   }
                }
              });
        //---------------------------//
        var consolidated_b_old = [];
        var consolidated_b_new =[];
        $.ajax({
              method: "POST",
              url: "/counter/getbooks",
              data: 0
            })
              .done(function( msg ) {
                if(!msg.trouble) {
                  console.log('books: '+JSON.stringify(msg.doc));
                   books=msg.doc;
                  if(!books || !books.bookstore) {
                   console.log('no books');
                   }
                   else {
                    seenmbooks = msg.doc.oldones;
                    newmbooks = msg.doc.newones;
                    $('#oldnum').text(seenmbooks);
                    $('#newnum').text(newmbooks);
                    books.bookstore.forEach(function (element,index){
                    if(element.booktitle)
                    { element.i_type='b';
                      if(element.newbook)
                      {consolidated_b_new.push(element);}
                    else {
                      consolidated_b_old.push(element);
                    }
                       }
                    });
                   }
                   if(consolidated_b_old.length){
                   sortByKey(consolidated_b_old, 'tmstmp');
                 }
                 if(consolidated_b_new.length){
                   sortByKey(consolidated_b_new, 'tmstmp');
                 }
              populate(consolidated_m_old,consolidated_m_new,consolidated_b_old,consolidated_b_new);
                }
              });
          //populate(consolidated_m_old,consolidated_m_new,consolidated_b_old,consolidated_b_new);
        //----------------------------//
        function populate(consolidated_m_old,consolidated_m_new,consolidated_b_old,consolidated_b_new) {
          console.log('hello');
          var count;
          count=Math.max(consolidated_m_old.length,consolidated_m_new.length,consolidated_b_old.length,consolidated_b_new.length);
          for(var i=0;i<count;i++){
            console.log('iter: '+i);
            if($(".noitems")[0])
             { $('#combitems').empty();
              }
           var insert;
           var insert_m_old= '--';
           var insert_m_new= '--';
           var insert_b_old= '--';
           var insert_b_new= '--';
           if(consolidated_m_old[i]){insert_m_old=consolidated_m_old[i].movietitle+" <small>"+consolidated_m_old[i].year+"</small>";}
           if(consolidated_m_new[i]){insert_m_new=consolidated_m_new[i].movietitle+" <small>"+consolidated_m_new[i].year+"</small>";}
           if(consolidated_b_old[i]){insert_b_old=consolidated_b_old[i].booktitle+" <small>"+consolidated_b_old[i].author+"</small>";}
           if(consolidated_b_new[i]){insert_b_new=consolidated_b_new[i].booktitle+" <small>"+consolidated_b_new[i].author+"</small>";}
           insert="<tr><td>"+insert_m_old+"</td><td>"+insert_m_new+"</td><td>"+insert_b_old+"</td><td>"+insert_b_new+"</td></tr>";
           $('#combitems').append(insert);
          }
          }   
        function redactmoviemodal (i) {
          console.log('redact');
        // TODO screen blocker must be added to prevent user from interfering 
        if($('body').width()<$('body').height()) {
          $('.modal-dialog').css('margin-top','60%');
        }
        else{
          $('.modal-dialog').css('margin-top','15%');
        }
        if($('#oldones').css('display')!='none')
          {$('#colourful').css('background-color','#ff0760');}
        else {
          $('#colourful').css('background-color','#fdb611');
        }
        insert = 'removemovie('+i+')';
        insert2 = 'switch_clmn('+i+')';
        $('.movie_remove').attr('onclick',insert);
        $('.switch').attr('onclick',insert2);
        $('.moviemodaltitle').text(consolidated[i].movietitle.capitalizeFirstLetter());
        $('.moviemodalyear').text(consolidated[i].year);
        $('#moviemodal').modal('show');
        }
        //----------------------------//
        function removemovie(movieid) {
        $.ajax({
              method: "POST",
              url: "/counter/rm_movie/"+consolidated[movieid].newmovie+"/"+consolidated[movieid]._id,
              data: 0
            })
              .done(function( msg ) {
                $('#moviemodal').modal('hide');
                var vname = '.movie_'+movieid;
                $(vname).empty();
                var empty_row_new ='<tr class="noitemsnew"><th style="padding-left:30px !important;"> Пока пусто </th><th> -- </th></tr>';
                var empty_row_old ='<tr class="noitemsold"><th style="padding-left:30px !important;"> Пока пусто </th><th> -- </th></tr>';
                if(consolidated[movieid].newmovie){
                  newmovies --;
                  $('#newnum').text(newmovies);
                  if($('#newmovies').children().length == 0){
                    $('#newmovies').prepend(empty_row_new);
                  }
                }
                  else{
                    seenmovies --;
                  $('#oldnum').text(seenmovies);
                  if($('#oldmovies').children().length == 0){
                    $('#oldmovies').prepend(empty_row_old);
                  }
                  }
              });
        }
        //-----------------------------------//
        function switch_clmn(movieid) {
          $.ajax({
                method: "POST",
                url: "/counter/switch_clmn/"+consolidated[movieid]._id,
                data: 0
              })
                .done(function( msg ) {
                  console.log(msg);
                  $('#moviemodal').modal('hide');
                  console.log('breakpoint 1');
                  consolidated[movieid].newmovie=parseInt(msg.present_clmn);
                  console.log('breakpoint 2');
                  var vname = '.movie_'+consolidated[movieid]._id;
                  console.log('breakpoint 3');
                  var element = $(vname).detach();
                  console.log('breakpoint 4');
                  var empty_row_new ='<tr class="noitemsnew"><th style="padding-left:30px !important;"> Пока пусто </th><th> -- </th></tr>';
                  var empty_row_old ='<tr class="noitemsold"><th style="padding-left:30px !important;"> Пока пусто </th><th> -- </th></tr>';
                  if(consolidated[movieid].newmovie)
                  {if($(".noitemsnew")[0])
                   { console.log('HAS LENGTH');
                     $('#newmovies').empty();}
                     $('#newmovies').prepend(element);
                  seenmovies--;
                  newmovies++;
                  $('#newnum').text(newmovies);
                  $('#oldnum').text(seenmovies);
                  if($('#oldmovies').children().length == 0){
                    $('#oldmovies').prepend(empty_row_old);
                  }
                  console.log('case 1');}
                else
                  {if($(".noitemsold")[0])
                   { console.log('HAS LENGTH');
                     $('#oldmovies').empty();}
                    $('#oldmovies').prepend(element);
                  newmovies--;
                  seenmovies++;
                  $('#oldnum').text(seenmovies);
                  $('#newnum').text(newmovies);
                  if($('#newmovies').children().length == 0){
                    $('#newmovies').prepend(empty_row_new);
                  }
                }
                  console.log('case 2');
                });
        }
        //----------------------------//
        $('#submitmovie').click(function(){
        if($('#mtitle').val() && $('#year').val())//what if I dont know year yet?
        { // TO DO now we use modals, this should be adapted to such, and it has a part in the end of this function
          $('#add').fadeOut(350);
          $('#wait').css('display','block');
          //-------------
           var data={};
           data.movietitle = $('#mtitle').val();
           data.newmovie = 1;
           if($('#oldmovie').hasClass('active')){
           data.newmovie = 0;
           }
           data.star = 1;
           if($('#nostar').hasClass('active')){
           data.star = 0;
           }
           data.year = $('#year').val();
           console.log(JSON.stringify(data));
          $.ajax({
              method: "POST",
              url: "/counter/addmovie",
              data: data
            })
              .done(function( msg ) {
                $('#mtitle').val('');
                $('#year').val('');
                $('#addbook').modal('hide');
                //$('#wait').fadeOut(350);
                //console.log(msg);
                window.location='/counter/p3345';
              });
          }
        });
        function getfriends() {
          //---------------------------//
        var friends;
        var consolidated=[];
        $.ajax({
              method: "POST",
              url: "/counter/getfriends",
              data: 0
            })
              .done(function( msg ) {
                if(!msg.trouble) {
                  console.log('movies: '+JSON.stringify(msg.doc));
                   friends=msg.doc;
                  if(!friends || !friends.friendstore) {
                   console.log('no friends');
                   }
                   else {
                    friends = msg.doc.total;
                   // $('#friendsnum').text(friends);
                    msg.doc.friendstore.forEach(function (element,index){
                    consolidated.push(element);
                    });
                   }
                   if(consolidated.length){
                   sortByKey(consolidated, 'tmstmp');
                   populate_friends(consolidated);
                   $('#friends').modal('show');
                 }
                }
              });
        //---------------------------//
        //----------------------------//
        function populate_friends(consolidated) {
         consolidated.forEach(function (element,index){
            //if($(".noitemsfriends")[0])
            //       { console.log('HAS LENGTH');
            //         $('.friendslist').empty();}
            $('.friendslist').empty();
           var insert;
             insert = "<tr class='pop movie_"+element+"' id='"+element+"'><th style='padding-left:15px !important;'><a href='/counter/profile/"+element+"'>Друг</a></th></tr>";
            $('.friendslist').prepend(insert);
           });
          } 
        }
        $('#closefriends').click(function(){
          $('#friends').modal('hide');
          });
        
        
        
        
      