doctype html(lang='en')
head
    meta(charset='utf-8')
    |     
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    |     
    meta(name='viewport', content='width=device-width, initial-scale=1')
    |     
    title Content Digest
    // Bootstrap
    //link(href='/bootstrap/css/bootstrap.min.css', rel='stylesheet')
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous")
    link(rel="stylesheet" href="/bootstrap/css/open-iconic-bootstrap.min.css")
    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
      |       
      script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')     
    style.
      @font-face {
      font-family:proxima;
      src:url('/bootstrap/fonts/ProximaNova-Reg-webfont.woff');
      }
      @font-face {
      font-family:boldproxima;
      src:url('/bootstrap/fonts/ProximaNova-Sbold-webfont.woff');
      }
      body{
      background: -moz-linear-gradient(-45deg, #efa328 0%, #f23e8f 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(-45deg, #efa328 0%,#f23e8f 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(135deg, #efa328 0%,#f23e8f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efa328', endColorstr='#f23e8f',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
      font-family:helvetica;
      }
      .container {
        transition: 0.5s -webkit-filter linear;
        transition: 0.5s -moz-filter linear;
        -webkit-transition: 0.5s -webkit-filter linear;
        -moz-transition: 0.5s -moz-filter linear;
      }
      .navbar-right {
        float: none !important; 
      }
      input[type="text"], textarea {
      outline: none;
      box-shadow:none !important;
      }
      .leftPaddingExtended{
        padding-left:30px;
      }
      textarea:hover, 
      input:hover, 
      textarea:active, 
      input:active, 
      textarea:focus, 
      input:focus,
      button:focus,
      button:active,
      button:hover
      {
          outline:none !important;
          -webkit-appearance:none;
      }
      .btn-iosdark,btn-iosdark-add {
      background-color:white;
      border:1px solid #333;
      color:#333;
      }
      .btn-red{
        box-shadow:none;
        border:none;
        background-color: #ef496e;
       letter-spacing: 1px;
       color: #a51636;
       margin:auto;
      }
      .btn-red:hover{
        color:white;
        background-color:#d2375a;
      }
      .btn-red:active,btn-red:focus{
        outline:0px !important;
      }
       .btn-yellow, .modal-footer .btn-yellow, .btn-yellow{
        color: #9e6900;
        box-shadow:none;
        border:none;
        background-color: #ff9b00;
      }
       .btn-yellow:hover, .modal-footer .btn-yellow:hover, .btn-yellow:hover {
        color: white;
        background-color: #ffa822;
      }
      .btn-yellow:active,btn-yellow:focus{
        outline:0px !important;
      }
      h4 {
        word-wrap:break-word;
      }
      .modal-sm h4 {
        padding-right:18px;
        padding-left:15px;
      }
      .modal-sm .modal-body {
        padding:0px;
      }
      .modal-header {
      border:none;
      }
      .modal-content{
        border:none;
        box-shadow:none;
      }
      .fileUpload {
          position: relative;
          overflow: hidden;
          margin: 10px;
      }
      .fileUpload input.upload {
          position: absolute;
          top: 0;
          right: 0;
          margin: 0;
          padding: 0;
          font-size: 20px;
          cursor: pointer;
          opacity: 0;
          filter: alpha(opacity=0);
      }
      .modal-dialog {
      margin-top: 10%;
      }
      .form-control#year,.form-control#mtitle{
        color:#0d5830;
        font-weight:300 !important;
      }/*
      input[type=text]::-webkit-input-placeholder {font-weight:200;}
      input[type=text]::-moz-placeholder          {font-weight:200;}
      input[type=text]:-moz-placeholder           {font-weight:200;}
      input[type=text]:-ms-input-placeholder      {font-weight:200;}*/
      #addbook .btn-iosdark-add.active {
      background-color: #178e4d;
      color: #28d476;
      }
      #addbook .btn-iosdark-add {
      background-color: #21b363;
      border: 1px solid #158448;
      color: #0d5830;
      }
      #addbook input{
      background-color: #1aa057;
      border: 1px solid #178e4d;
      }
      #first_lg{
        box-shadow: 0px 6px 15px 3px #6f6e6e;
      }
      #second_lg{
        box-shadow: 0px 6px 15px 3px #6f6e6e;
      }
      #third_lg{
        box-shadow: 0px 6px 15px 3px #6f6e6e;
      }
      #fourth_lg{
        box-shadow: 0px 6px 15px 3px #6f6e6e;
      }
      .navbar-inverse .navbar-brand {
      color: white;
      font-family: boldproxima;
      letter-spacing: 2px;
      font-size: 22px;}
      .navbar-inverse {
        background-color:#0151a7;
        border:none;
      }
      .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
       border-color: #f5f5f5;
      }
      .navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
          background-color: rgba(51, 51, 51, 0.35);
      }
      .navbar-inverse .navbar-toggle {
          border-color: white;
      }
      .navbar-inverse .navbar-nav>li>a {
      color:rgba(255, 255, 255, 0.6);
      font-weight:200;
      letter-spacing:1px;
      }
      .navbar-inverse .navbar-nav>li:hover {
          color: #333;
          background-color:rgba(255,255,255,0.2);
      }
      .data_lg .list-group-item{
        color:#2f2f2f;
        border:none;
        font-weight: 200;
       letter-spacing: 1px;
       background-color: rgba(255,255,255,0.8);
       border-top: 1px solid rgb(241, 241, 241);
      }
      .data_lg .list-group-item.disabled:hover{
        background-color:white;
      }
      .data_lg .list-group-item.disabled{
        text-align: center;
        text-transform: uppercase;
        color: #000000;
        font-weight: 500;
        letter-spacing: 0px;
      }
      .data_lg .list-group-item:hover{
        background-color:#eee;
      }
      /*.btn-blue{
        border:none;
        background-color:rgba(0,0,0,0.4);
        color:white;
      }
      .btn-blue:focus,.btn-blue:active,.btn-blue:hover{
        border:none;
        background-color:white;
        color:#333;
      }*/
      small {
      color: rgba(0, 0, 0, 0.45);
      letter-spacing:0px;
      }
      #add_comb .modal-footer{
      padding: 15px;
      text-align: center;
      }
      #friends .modal-footer{
      padding: 15px;
      text-align: center;
      }
      #add_comb .panel-group .panel .panel-heading .btn .form-control:focus,#settings .panel-group .panel .panel-heading .btn .form-control:focus {
      border-color: none;
      box-shadow:none;
      }
      #add_comb .sec {
      text-align: center;
      background-color: rgb(238, 238, 238);
      }
      #add_comb .modal-body .panel-group .panel .panel-heading .btn-iosdark,#settings .modal-body .panel-group .panel .panel-heading .btn-iosdark, btn-iosdark-add {
      background-color: white;
      color: #333;
      min-height: 50px;
      border-radius: 0px;
      border: none;
      box-shadow: none;
      text-align: left;
      }
      .btn-blue {
        /*background-color:#39cc95;*/
        background-color:#36b7d4;
        letter-spacing:1px;
        color:#347888;
        border:1px solid #36b7d4;
      }
      #add_comb .panel-body .btn-blue {
        /*background-color:#39cc95;*/
        background-color:#36b7d4;
        letter-spacing:1px;
        margin:14px;
        color:#347888;
        border:none;
      }
      /*#add_comb .panel-body */
      #add_comb .panel-body .btn-blue:hover, .btn-blue:hover {
        color:white;
        background-color:#3ad1f3;
        border-color:#3ad1f3;
      }
      .modal-body input.form-control {
      border: none;
      border-bottom: 1px solid #ddd;
      height: 50px;
      border-radius: 0px;
      background-color: rgba(243, 243, 243, 0.83);
      }
      #add_comb .modal-header{
        border-bottom:1px solid #eee;
      }
      .modal-body .panel-body,#settings_choice .panel-body{
        text-align:center;
        padding:0px;
      }
      .modal-body .panel-body .btn-blue{
        margin:15px;
      }
      .modal-body .panel-default>.panel-heading,#settings_choice .panel-default>.panel-heading {
       color: #333;
       background-color: white;
       border-color: #ddd;}
      .modal-body .panel-group .panel+.panel,#settings_choice .panel-group .panel+.panel {
          margin-top: 0px;
      }
      .modal-body .panel-group .panel,#settings_choice .panel-group .panel {
          border-radius: 0px;
      }
      .modal-body .panel-default>.panel-heading,#settings_choice .panel-default>.panel-heading {
        height:50px;
      }
      .modal-body .panel,#settings_choice .panel{
        border:none;
        border-bottom:1px solid #eee;
        background-color: #eee;
      }
      .modal-body .panel-heading,#settings_choice .panel-heading{
        padding:0px;}
      .modal-body .panel-group,#settings_choice .panel-group{
        margin-bottom:0px;
      }
      #settings_choice .panel-body{
        padding-top:20px;
        padding-bottom:20px;
        padding-left:15px;
        padding-right:15px;
      }
      #accordion2 .panel-title .badge{
        margin-left:7px;
      }
      .panel-group .panel+.panel {
      margin-top:0px;
      border-radius: 0px;
      }
      .panel-group .panel{
        border-radius: 0px;
      }
      #accordion2 .panel{
        border:none;
        border-bottom:1px solid rgba(0,0,0,0.32);
        color:white;
      }
      #accordion2 small{
        color:rgba(230, 230, 230, 0.45);
      }
      #accordion2 .panel:last-child{
        border:none;
      }
      #accordion2 .panel-default .panel-heading{
       height: 20%;
      padding: 15%;
      }
      #accordion2 .list-group-item {
        background-color:rgba(255,255,255,0.35);
        border:none;
        font-weight:200;
        font-size:17px;
        letter-sapcing:1px;
        padding:17px 15px;
      }
      h4.panel-title{
        color: rgba(255, 255, 255, 0.8);
      }
      .panel-default>.panel-heading {
        color:white;
        background-color:transparent;
      }
      .panel {
        background-color:rgba(0,0,0,0.34);
      }
      .glyphicon-chevron-right{
        color:rgba(255, 255, 255, 0.51);
      }
      .panel-title{
        letter-spacing:1px;
      }
      #accordion2 .panel-body{
        padding:0px;
      }
      #accordion2 .list-group-item:first-child,#accordion2 .list-group-item:last-child,.friendlist .list-group-item:first-child,.friendlist .list-group-item:last-child {
        border-radius:0px;} 
      .friendlist .list-group-item{
        height:50px;
        padding:15px;
        border:none;
        border-bottom:1px solid #eee;
      }
      .friendlist .list-group-item:hover{
        background-color:#eee;
      }
      .panel-default>.panel-heading+.panel-collapse>.panel-body {
        border:none;
      }
      .add_choice .panel:last-child,#settings_choice .panel:last-child {
       border-bottom:none;
      }
      .navbar-inverse .navbar-toggle {
        border-color:white;
      }
      .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
          border-color: #f5f5f5;
      }
      #row_margin .row {
        margin:0px;
        padding-top:20px;
        padding-bottom:10px;
      }
      .list-group-item.disabled, .list-group-item.disabled:focus, .list-group-item.disabled:hover {
        cursor:auto;
      }
      .tooltip.top .tooltip-inner {
          background-color:#ff6767;
        }
      .tooltip.top .tooltip-arrow {
          border-top-color: #ff6767;
       }
       .btn-close{
        letter-spacing:1px;
        text-transform:uppercase;
       }
       .friendlist .list-group-item{
        border-top:1px solid #eee;
       }
       .modal-backdrop.in {
           filter: alpha(opacity=50);
           opacity: .65;
       }
       button.collapsed .glyphicon-chevron-right
       {
         -webkit-transform: rotate(0deg);
         -moz-transform:    rotate(0deg);
         -ms-transform:     rotate(0deg);
         -o-transform:      rotate(0deg);
         transform:         rotate(0deg);
         -webkit-transition: all 0.5s;
                      -moz-transition: all 0.5s;
                       -ms-transition: all 0.5s;
                        -o-transition: all 0.5s;
                           transition: all 0.5s;
       }
       button .glyphicon-chevron-right
       {
         -webkit-transform: rotate(90deg);
         -moz-transform:    rotate(90deg);
         -ms-transform:     rotate(90deg);
         -o-transform:      rotate(90deg);
         transform:         rotate(90deg);
         -webkit-transition: all 0.5s;
                      -moz-transition: all 0.5s;
                       -ms-transition: all 0.5s;
                        -o-transition: all 0.5s;
                           transition: all 0.5s;
       }
       .popover-title {
        text-align:center;
       }
       .popover-content {
           padding: 0px;
       }
       .btn-default, .btn-default:focus{
        color: #404040;
        background-color: rgba(0, 0, 0, 0.16);
        border-color: transparent;
       }
       .btn-default:hover {
       color: #ffffff;
       background-color: #36b7d4;
       border-color: #36b7d4;
      }
      .popover-content ul {
        margin-bottom:0px;
      }
      .popover-content .list-group {
        margin-bottom:0px;
      }
      .popover-content .list-group-item{
       border:none;
       border-top:1px solid #eee;
       min-width: 200;
      }
      .popover-content .list-group-item:first-child{
       border:none;
      }
      .popover-content .list-group-item:hover{
       background-color:#eee;
      }
      .popover-content .list-group-item.more:hover{
       background-color:white;
      }
      .popover-content .list-group-item.more{
        padding:0px;
      }
      .popover-content .btn{
        border-top-left-radius:0px;
        border-top-right-radius:0px;
      }
      .popover {
        padding:0px;
      }
      .btn-default .badge{
        font-weight: 200;
        background-color:#c7c6c6;
        color:#020202;
      }
      a .badge{
        background-color:#0354ab;
        border:1px solid #2872c1;
        font-weight:200;
        color:#aaa;
        margin-right:10px;
        margin-left:4px;
      }
      .panel>.list-group:first-child .list-group-item:first-child, .panel>.panel-collapse>.list-group:first-child .list-group-item:first-child {
      border-top: 0;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
      }
      .panel>.list-group:last-child .list-group-item:last-child, .panel>.panel-collapse>.list-group:last-child .list-group-item:last-child {
      border-bottom: 0;
      border-bottom-right-radius: 6px;
      border-bottom-left-radius: 6px;
      }
      .btn:focus { outline: none; }
      .itemlist .list-group-item:last-child{
       border-radius:0px;
       border:none;
       border-top:1px solid #eee;
      }
      .itemlist .list-group-item:first-child{
       border-radius:0px;
      }
      .itemlist .list-group-item{
        border:none;
        border-top: 1px solid #eee;
        background-color:rgba(243, 243, 243, 0.83);
      }
      .title_num{
        margin-left:5px;
        margin-bottom: 2px;
        font-weight:200;
        background-color: #6bb9ff;
      }
      .NEW_VERSION_ITEMS{}
      #menu_bar {
      min-height:100vh;
      background-color: rgba(0,0,0,0.9);
      padding-top:20px;
      color:rgba(255,255,255,0.3);
      font-weight:100;
      }
      #lists {
        height: 100vh;
        overflow-y: auto;
        padding-top:53px;
      }
      .menu_item{
        padding-left:25px;
      }
      .menu_heading{
        padding-left:15px;
        color: rgba(255,255,255,0.5);
      }
      .active_menu_heading{
        padding-left:15px;
        color: rgba(255,255,255,0.3);
      }
      .active_menu_heading:hover{
        color:rgba(37, 204, 234, 0.8);
      }
      .menu_item:hover{
        /*background-color:#ffd3b7;*/
        background-color:rgba(255,255,255,0.1);
        color:rgba(255,255,255,0.8);
      }
      .menu_item.selected {
        background-color:rgba(255,255,255,0.1);
        color:rgba(255,255,255,0.8);
      }
      .list-group{
        background-color:none;
      }
      .list-group-item{
        background-color:rgba(255,255,255,0.2);
        padding-left: 15px;
        padding-right: 15px;
        padding-top:5px;
        padding-bottom:5px;
        color:white;
        font-weight:100;
      }
      .list-group-item:hover{
        background-color:rgba(255,255,255,0.3);
      }
      .list-group-item{
        border:none;
        border-bottom:rgba(255,255,255,0.3);
      }
      .list-group-item:last-child{
        border-bottom:none;
      }
      #tags{
        font-weight: 100;
        padding:10px;
        min-width:100%;
        min-height:40px;
        background-color:rgba(255,255,255,0.1);
        border-radius:6px;
        margin-bottom:40px;
        margin-top: 13px;
        color:rgba(255,255,255,0.5);
      }
      a .badge {
       background-color: rgba(255,255,255,0.1);
      border: 1px solid rgba(255,255,255,0.2);
      font-weight: 200;
      color: white;
      margin-right: 10px;
      margin-left: 4px;
      }
      .badge {
      display: inline-block;
      min-width: 10px;
      padding: 3px 7px;
      font-size: 12px;
      font-weight: 700;
      line-height: 1;
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
      border-radius: 10px;
      }
      .badge-primary {
         background-color: rgba(255,255,255,0.3);
         color: white;
         margin: 3px;
         font-weight: 200;
         letter-spacing: 1px;
       padding: 4px 8px;
          }
      small {
        color: rgba(255, 255, 255, 0.45);
        letter-spacing:0px;
        margin-left:10px;
        }
      #user_name {
      padding-bottom: 7px;
      /*border-bottom: 1px solid rgba(255,255,255,0.1);*/
      margin-top: 30px;
      }
      #add_item_located_in_tags {
        background-color:rgba(255,255,255,0);
        border:1px solid rgba(255,255,255,0.4);
        color:rgba(255,255,255,0.8);
        margin-left:10px;
      }
      #add_item_located_in_tags:hover {
        background-color:rgba(255,255,255,0.2);
        color:white;
        border-color:white;
      }
      #list_heading_title{
        font-family:boldproxima;
        color:rgba(255,255,255,0.5);
        /*margin-top: 25;*/
        display:inline;
      }
      .transparent{
        background-color:rgba(255,255,255,0);
        border:1px solid rgba(255,255,255,0.4);
        color:rgba(255,255,255,0.4);
        margin-left:10px;
        vertical-align:bottom;
        padding-top: 1px;
        padding-bottom: 1px;
      }
      .transparent:hover{
        background-color:rgba(255,255,255,0.3);
        border:1px solid rgba(255,255,255,1);
        color:rgba(255,255,255,1);
      }
      .modal-body .list-group-item{
        color:#333;
      }
      .modal-sm h4{
       margin-left: auto;
       margin-right: auto;
      }
      .btn-grey{
        border-color:#ddd;
        color:#aaa;
        background-color:white;
        margin-bottom:15px;
      }
      .btn-grey:hover{
        border-color:#ddd;
        color:#aaa;
        background-color:#eee;
      }
      .item_title{
        padding-left:10px;
        padding-right:10px;
      }
      .modal-footer {
        border-top:0px;
      }
      .menu_add_item_button{
        background-color: rgba(0,0,0,0.0);
        border-color: rgba(255,255,255,0.3);
        color: rgba(255,255,255,0.5);
      }
      .menu_add_item_button:hover{
        /*color: rgba(234, 122, 37, 0.8);
        border-color: #bc6a22;
        color: rgba(234, 37, 88, 0.8);
        border-color: #b71d44;*/
        color: rgba(37, 204, 234, 0.8);
        border-color: #1d9fb7;
      }
      .oi-cog{
       color:rgba(255,255,255,0.3);
       margin-left:10px;
       cursor:pointer;
      }
      .oi-cog:hover{
      color:rgba(255,255,255,0.5);
      }
      .badge:focus{
        outline: 0;
      }
  body
    .modal.fade(id='tagsmodal' tabindex="-1")
      .modal-dialog.modal-sm
        .modal-content
          .modal-header
            //button(type="button" class="close" data-dismiss="modal" aria-label="Close")
            //  span(aria-hidden="true") &times;
            //h4(id="tag_name_title" class="modal-title" style='text-align:center;font-weight:500;' ) Нашли
            h4.modal-title#tag_name_title 
            
          .modal-body  
            ul.list-group.itemlist(style='margin-bottom:0px;border-radius:0px;')
              li.list-group-item.noitemstags Пока пусто
          .modal-footer
            button(class='btn btn-close btn-red' data-dismiss="modal") Close
    .modal.fade(id='redact_list' tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel")
      .modal-dialog.modal-sm
        .modal-content
          .modal-header
            h4.modal-title Redacting a list
          .modal-body(style='background-color: rgba(243, 243, 243, 0.83);padding-top:30px;') 
            h6#list_name_redact(style='text-align:center;margin-bottom: 20px;')
            .btn-group(style='margin-left: 69px;margin-bottom:30px;')
              button.btn.btn-secondary#list_redact_toggle Rename
              button.btn.btn-secondary(style='color:#ff8888;') Delete 
            .panel-group(id="redact_list_dialog" role="tablist" style='display:none;')
              .panel.panel-default(style='border-bottom:0px;background-color: #ddd;')
                .panel-body
                  input#list_name_redact_input(type="text" maxlength="100" class="form-control" autocomplete='off' placeholder="List name" style="background-color: #ddd;border-bottom: 1px solid #ccc;")
                  button(class='btn btn-blue list_name_redact_submit') Submit               
          .modal-footer
            button(class='btn btn-close btn-red' data-dismiss="modal") Close
    .modal.fade(id='first_time' tabindex="-1")
      .modal-dialog.modal-sm
        .modal-content
          .modal-header
            //button(type="button" class="close" data-dismiss="modal" aria-label="Close")
            //  span(aria-hidden="true") ×
            //h4(class="modal-title" style='padding-left:0px;text-align:center;' ) Welcome!
            h4.modal-title Welcome!
            
          .modal-body(style='padding:15px;padding-top:0px;') Unless you want other users to see you as 
            span(style='font-weight:500;') 'user № #{_id}'
            | , you might want to choose a nickname. You can do that later in the settings, or now:
            .input-group(style='padding-top:10px;padding-bottom:15px;')
              input(type="text" class="form-control" placeholder="nickname" id='nick_first')
              span(class="input-group-btn")
                button(class="btn btn-blue" onclick="change_nick(0);" id='change_nick_first' type="button") save   
          .modal-footer
            button(class='btn btn-close btn-red' data-dismiss="modal") Close
    .modal.fade(id='friends' tabindex="-1")
      .modal-dialog.modal-sm
        .modal-content
          .modal-header
            h4.modal-title You follow
              span.badge#friendsnum(style='margin-left:10px;margin-bottom:3px;')
            
          .modal-body  
            ul.list-group.friendlist(style='margin-bottom:0px;')
              li.list-group-item.noitemsfriends Пока пусто
          .modal-footer
            button(class='btn btn-close btn-red' data-dismiss="modal") Close
    .modal.fade(id='settings' tabindex="-1" role="dialog" aria-labelledby="myModalLabel")
      .modal-dialog.modal-sm(role="document")
        .modal-content
          .modal-header(style='border-bottom: 1px solid #eee;')
            h4.modal-title Settings
            
          .modal-body#settings_choice
            .panel-group(id="accordion3" role="tablist" aria-multiselectable="true")
              .panel.panel-default
                .panel-heading(role="tab" id="headingOne3")
                  button(class='btn btn-iosdark form-control collapsed' role="button" data-toggle="collapse" data-parent="#accordion3" href="#collapseOne3" aria-expanded="false" aria-controls="collapseOne") Download backup file
                    span(class="glyphicon glyphicon-chevron-right float-right" style="color:gray;")
                #collapseOne3(class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne")
                  .panel-body
                    button.btn.btn-blue#backup download 
              .panel.panel-default
                .panel-heading(role="tab" id="headingTwo3")
                  button(class='btn btn-iosdark form-control collapsed' role="button" data-toggle="collapse" data-parent="#accordion3" href="#collapseTwo3" aria-expanded="false" aria-controls="collapseTwo") Restore from file
                    span(class="glyphicon glyphicon-chevron-right float-right" style="color:gray;")    
                #collapseTwo3(class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo")
                  .panel-body(style='padding-top:30px;')
                    .form-group
                      input(type="file" id="exampleInputFile")
                      p(class="help-block") Restore from previously downloaded JSON backup file
              .panel.panel-default
                .panel-heading(role="tab" id="headingThree3")
                  button#set_nick_button(class='btn btn-iosdark form-control collapsed' role="button" data-toggle="collapse" data-parent="#accordion3" href="#collapseThree3" aria-expanded="false" aria-controls="collapseThree") Change nick
                    span(class="glyphicon glyphicon-chevron-right float-right" style="color:gray;")
                #collapseThree3(class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree")
                  .panel-body 
                    .input-group#nick_group
                      input(type="text" class="form-control" placeholder="nickname" id='nick' data-toggle="tooltip")
                      span(class="input-group-btn")
                        button(class="btn btn-blue" onclick="change_nick(1);" id="change_nick" type="button") Submit
              //
                .panel.panel-default
                  .panel-heading(role="tab" id="headingFour3")
                    button(class='btn btn-iosdark form-control collapsed' role="button" data-toggle="collapse" data-parent="#accordion3" href="#collapseFour3" aria-expanded="false" aria-controls="collapseFour") Email visibility
                      span(class="glyphicon glyphicon-chevron-right float-right" style="color:gray;")
                  #collapseFour3(class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree")
                    .panel-body 
                      .checkbox#visibility
                        label
                          input(type="checkbox" id='show_mail' onchange='showmail_submit()') 
                          |Show my email, so people can contact me
          .modal-footer(style='border-top: 1px solid #e9ecef;')
            button(class='btn btn-close btn-red' data-dismiss="modal") Close
    .modal.fade(id='add_comb' tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel")
      .modal-dialog.modal-sm
        .modal-content
          .modal-header
            h4(class="modal-title" style='text-align:center;') Add item
            
          .modal-body.add_choice
            .panel-group(id="accordion" role="tablist" aria-multiselectable="true")
              .panel.panel-default  
                .panel-body
                  input#item_title(type="text" maxlength="100" class="form-control" autocomplete='off' placeholder="Название")
                  input#item_link(type="text" class="form-control" autocomplete='off' maxlength="150"  placeholder='Ссылка')
                  input#item_comment(type="text" class="form-control" autocomplete='off' maxlength="200"  placeholder='Комментарий')
                  input#item_tags(type="text" class="form-control" autocomplete='off' maxlength="500"  placeholder='Тэги')
                  button#submit_item_button(class='btn btn-blue' onclick='submit_item(-1)') Добавить   
          .modal-footer
            button(class='btn btn-close btn-red' data-dismiss="modal") Close
    .modal.fade(id='invite' tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel")
      .modal-dialog.modal-sm
        .modal-content
          .modal-header
            h4(class="modal-title" style='text-align:center;') New team list
            
          .modal-body.add_choice
            .panel-group(id="accordion" role="tablist" aria-multiselectable="true")
              .panel.panel-default     
                .panel-body
                  input#list_name(type="text" maxlength="100" class="form-control" autocomplete='off' placeholder="List name")
                  button(class='btn btn-blue' onclick='add_team_list()') Добавить          
          .modal-footer
            button(class='btn btn-close btn-red' data-dismiss="modal") Close
    .modal.fade(id='invite_friend_modal' tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel")
      .modal-dialog.modal-sm
        .modal-content
          .modal-header
            h4(class="modal-title" style='text-align:center;') Sending an invitation
            
          .modal-body.add_choice
            .panel-group(id="accordion" role="tablist" aria-multiselectable="true")
              .panel.panel-default     
                .panel-body
                  input#invite_emal_0(type="email" maxlength="100" class="form-control" autocomplete='off' placeholder="Friend's email")
                  #invite_email_insert
                  button(class='btn btn-secondary' style='margin-right:7px;' onclick='add_recipient()' type='button') Add recipient
                  button(class='btn btn-blue' onclick='send_invitation()' type='button') Send         
          .modal-footer
            button(class='btn btn-close btn-red' data-dismiss="modal") Close
    .modal.fade(id='itemmodal' tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel")
      .modal-dialog.modal-sm
        .modal-content
          .modal-header
            //
              button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                span(aria-hidden="true") ×
          .modal-body.add_choice(style='text-align:center;')
            h5.item_title(style='margin-top:10px;margin-bottom:35px;text-transform: uppercase;font-weight: 500;')
            //h5.item_link(style='margin-bottom:30px;color:gray;')
            h6.item_comment(style='padding-bottom:30px;color:#333;font-weight:400;padding-left: 10px;padding-right: 10px;')
            h6.item_tags(style='margin-bottom:30px;color:#bbb;') 
            button(class='btn btn-grey item_redact') Redact
            .panel-group(id="redact_item_dialog" role="tablist" style='display:none;')
              .panel.panel-default
                .panel-body
                  input#item_title_redact(type="text" maxlength="100" class="form-control" autocomplete='off' placeholder="Название")
                  input#item_link_redact(type="text" class="form-control" autocomplete='off' maxlength="150"  placeholder='Ссылка')
                  input#item_comment_redact(type="text" class="form-control" autocomplete='off' maxlength="200"  placeholder='Комментарий')
                  input#item_tags_redact(type="text" class="form-control" autocomplete='off' maxlength="500"  placeholder='Тэги')
                  button(class='btn btn-blue item_redact_submit') Submit
            
          .modal-footer
            button(class='btn btn-red item_remove ') Remove
    .container-fluid(style='z-index:2;')
      .row(style='display:none;')
        .col-xs-12
          form(method='post',action='/backup',role='form',id='backupform')
      .row  
        .col-md-2#menu_bar
          .row(style='border-bottom:1px solid rgba(255,255,255,0.1);')
            h4(style='color:white;font-family:boldproxima;text-transform:uppercase;letter-spacing:1px;margin-left:15px;margin-right:15px;margin-bottom:20px;') Content Digest
          h4#user_name Reso 
          .row.menu_heading(style='margin-top:30px;')
            | Lists
          #your_items.row.menu_item.selected(onclick="open_list(-1)") Your items
          #team_lists_insert
          .row.menu_item#create_team(onclick="$('#invite').modal('show');" data-toggle="modal" data-target="#invite") Create list
            span(style='color:#ff9900;margin-left:5px;') +
          .row.menu_heading(style='margin-top:30px;')
            | Friends
          #friends_insert
          .row.menu_item#invite_friend(onlick="$('#invite_freind').modal('show');" data-toggle="modal" data-target="#invite_friend_modal") Invite friends
            span(style='color:#00ff8d;margin-left:5px;') +
          .row(style='padding-left: 15px;margin-bottom:10px;margin-top:30px;')
            button.btn.menu_add_item_button#add_modal_trigger(type='button' onclick="$('#add_comb').modal('show');" data-toggle="modal" data-target="#myModal") Add item
          //.row.menu_item#add_modal_trigger(style='margin-top:30px;' onclick="$('#add_comb').modal('show');" data-toggle="modal" data-target="#myModal") Add item
          .row.active_menu_heading#settings_btn Settings
          .row.active_menu_heading(onclick="window.location='/counter/logout';") Log out  
        .col-md-10#lists
          #list_heading
            h4#list_heading_title Your items
          #tags
          ul.list-group#main_list(style='margin-bottom:40px;')
  
      script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
      script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous")
      script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous")
      script.
       var nick = '#{nick}';
       if(nick.length>1){
        $('#user_name').text(nick);
       }
       //var has_team = #{team};
       //if(has_team){
       // $('#create_team').empty();
       // alert('has a team');
       //}
       $("input").keypress(function(event) {
            if (event.which == 13) {
                if($('#first_time').css('display')!='none'){
                  change_nick(0);
                }
            }
        });
       function add_recipient(){
        $('#invite_email_insert').append('<input id="invite_email_'+$('.invite_email').length+'" type="email" maxlength="100" autocomplete="off" placeholder="email" class="form-control invite_email">');
       }
       //function send_invitation(){
       // var data={};
       // data.email_list=
       // $.ajax({
       //     method: "POST",
       //     url: "/invitations",
       //     data: 
       //   }).done(function( msg ) {
       //     if(!msg.trouble){
       //     }
       //   });
       //}
       //$('#followed_by').popover({'placement':'bottom','html':true,'container':'body','template':'<div class="popover" role="tooltip"><div class="arrow"></div><div class="popover-content"></div></div>'});
       //$('#im_following').popover({'placement':'bottom','html':true,'container':'body','template':'<div class="popover" role="tooltip"><div class="arrow"></div><div class="popover-content"></div></div>'});
        var friends_and_followers=[];
        var friends_full=[];
        var followers_full=[];
        var f_n_f_count=0;
        var data_content_fr='';
        var data_content_fl='';
        var follow_num=0;
        var following_num=0;
        var loop_temp;
        var temp_friends=0;//these two are here to implement 'more', holding sliced part of ten enteries
        var temp_followers=0;
        var more_friends=0;//these two are first used to indicate the need for the 'more' button insertion, then to keep track of which more to add from corresponding array
        var more_followers=0;
        function get_name_loop(){
          console.log('HELLO: \n'+friends_and_followers+'\n'+f_n_f_count);
          f_n_f_count--;
          if(f_n_f_count>-1)
          {$.ajax({
                      method: "POST",
                      url: "/counter/gn/"+friends_and_followers[f_n_f_count]._id,
                      data: 0
                    }).done(function( msg ) {
                      if(!msg.trouble){
                      //loop_temp = "window.location='/counter/profile/"+friends_and_followers[f_n_f_count]._id+"'";
                      loop_temp = "/counter/profile/"+friends_and_followers[f_n_f_count]._id;
                      if(friends_and_followers[f_n_f_count].section==='friend'){
                        data_content_fr+='<a href="'+loop_temp+'"<li class="list-group-item">'+msg.mtext+'</li></a>';
                      }
                      else{
                       data_content_fl+='<a href="'+loop_temp+'"<li class="list-group-item">'+msg.mtext+'</li></a>';
                      }
                        if(!f_n_f_count){
                          if(more_followers){
                          data_content_fl+='<li class="list-group-item more"><button onclick="more(1)" class="btn btn-default form-control">More</button></li>';
                          }
                          if(more_friends){
                          data_content_fr+='<li class="list-group-item more"><button onclick="more(0)" class="btn btn-default form-control">More</button></li>';
                          }
                          data_content_fr='<ul class="list-group" id="friendlist">'+data_content_fr+'</ul>';
                          data_content_fl='<ul class="list-group" id="followerlist">'+data_content_fl+'</ul>';
                          $('#followed_by').attr('data-content',data_content_fl);
                          $('#im_following').attr('data-content',data_content_fr);
                          $('#followed_by').text('Follow '+follow_num);
                          $('#im_following').text('Following '+following_num);
                        }
                        else{
                          get_name_loop();
                        }
                      }
                      else{
                        loop_temp = "/counter/profile/"+friends_and_followers[f_n_f_count]._id;
                      if(friends_and_followers[f_n_f_count].section==='friend'){
                        data_content_fr+='<a href="'+loop_temp+'"<li class="list-group-item">User №'+friends_and_followers[f_n_f_count]._id+'</li></a>';
                      }
                      else{
                       data_content_fl+='<a href="'+loop_temp+'"<li class="list-group-item">User №'+friends_and_followers[f_n_f_count]._id+'</li></a>';
                      }
                        if(!f_n_f_count){
                          if(more_followers){
                          data_content_fl+='<li class="list-group-item more"><button onclick="more(1)" class="btn btn-default form-control">More</button></li>';
                          }
                          if(more_friends){
                          data_content_fr+='<li class="list-group-item more"><button onclick="more(0)" class="btn btn-default form-control">More</button></li>';
                          }
                          data_content_fr='<ul class="list-group" id="friendlist">'+data_content_fr+'</ul>';
                          data_content_fl='<ul class="list-group" id="followerlist">'+data_content_fl+'</ul>';
                          $('#followed_by').attr('data-content',data_content_fl);
                          $('#im_following').attr('data-content',data_content_fr);
                          $('#followed_by').text('Follow '+follow_num);
                          $('#im_following').text('Following '+following_num);
                        }
                        else{
                          get_name_loop();
                        }
                      }
                  });}
        }
        //--------------------------------------//
        //--------------------------------------//
        //--------------------------------------//
        function more_get_names(section) {
          var more_get_names_count=section?temp_followers.length:temp_friends.length;
          (function(){
         more_get_names_count--; 
         var v_url = section?"/counter/gn/"+temp_followers[more_get_names_count]:"/counter/gn/"+temp_friends[more_get_names_count];
        if(more_get_names_count>-1)
         {$.ajax({
              method: "POST",
              url: v_url,
              data: 0
            }).done(function( msg ) { 
              if(section){
                if(!msg.trouble){
                  $('#followerlist').append('<a href="counter/profile/'+temp_followers[more_get_names_count]+'"<li class="list-group-item">'+msg.mtext+'</li></a>');
                }
                  else{
                    $('#followerlist').append('<a href="counter/profile/'+temp_followers[more_get_names_count]+'"<li class="list-group-item"> User №'+temp_followers[more_get_names_count]+'</li></a>');
                  }
              }
                else{
                  if(!msg.trouble){
                  $('#friendlist').append('<a href="counter/profile/'+temp_friends[more_get_names_count]+'"<li class="list-group-item">'+msg.mtext+'</li></a>');
                }
                  else{
                    $('#friendlist').append('<a href="counter/profile/'+temp_friends[more_get_names_count]+'"<li class="list-group-item"> User №'+temp_friends[more_get_names_count]+'</li></a>');
                  }
                }
            }); 
          } 
        });
        }
        //--------------------------------------//
        //--------------------------------------//
        //--------------------------------------//
        function more(section) {
          //TODO
          if(section){
           temp_followers=followers_full.slice((more_follower)*10,(more_follower+1)*10);
           more_followers++;
          }
          else{
          temp_friends=friends_full.slice((more_follower)*10,(more_follower+1)*10);
           more_friends++;
          }
        }
        function get_follow(){
          $.ajax({
            method: "POST",
            url: "/counter/getfl",
            data: 0
          }).done(function( msg ) {
            if(!msg.trouble){
            if(msg.doc.friends.length)
            { if(msg.doc.friends.length>10){
              temp_friends=msg.doc.friends.slice(0,10);
              more_friends=1;
             }
             else{
              temp_friends=msg.doc.friends;
             }
              temp_friends.forEach(function (element, index){
                          friends_and_followers.push({'_id':element,'section':'friend'});
                          });
              f_n_f_count+=temp_friends.length;
              following_num=msg.doc.friends.length;
              friends_full=msg.doc.friends;
             }
             else{
             $('#im_following').text('Following 0');
             }
             if(msg.doc.followers.length)
             { if(msg.doc.followers.length>10){
              temp_followers=msg.doc.followers.slice(0,10);
              more_followers=1;
              }
              else{
              temp_followers=msg.doc.followers;
              }
              temp_followers.forEach(function (element, index){
                           friends_and_followers.push({'_id':element,'section':'follower'});
                           });
              f_n_f_count+=temp_followers.length;
              follow_num=msg.doc.followers.length;
              friends_full=msg.doc.followers;
              }
              else{
              $('#followed_by').text('Follow 0');
              }
              if(f_n_f_count){
                console.log(JSON.stringify(friends_and_followers));
               get_name_loop();
              }
            }   
            else{
              $('#im_following').attr('data-content','<ul class="list-group" id="im_following_list"><li class="list-group-item">Пусто</li></ul>');
              $('#followed_by').attr('data-content','<ul class="list-group" id="im_following_list"><li class="list-group-item">Пусто</li></ul>');
            }  
            });
        }
        get_follow();
        function showmail_submit(){
          var data={};
          data.state=$('#show_mail').prop('checked')?1:0;
          $.ajax({
            method: "POST",
            url: "/counter/setshowmail",
            data: data
          }).done(function( msg ) {
               $('#show_mail').prop('disabled',true);
            });
        }
        //--------------------------------------//
        //--------------------------------------//
        //--------------------------------------//
        $.ajax({
            method: "POST",
            url: "/counter/greeting/"+'#{_id}',
            data: 0
          }).done(function( msg ) {
               if(msg.mtext&&parseInt(msg.mtext))
               {$('#first_time').modal('show');}
             });
        //--------------------------------------//
        //--------------------------------------//
        //--------------------------------------//
        onload = function () {
           $(function () {
             $('[data-toggle="tooltip"]').tooltip()
           });
           var e = document.getElementById('nick');
           //console.log('hey');
           e.oninput = (function(){
            //console.log('yo');
          if($('#nick').val()&&$('#nick').val().length>2){
                    var data={};
                    data.nick=$('#nick').val().replace(/\s{2,}/g,' ').trim();
                    $.ajax({
                        method: "POST",
                        url: "/counter/chcknck",
                        data: data
                      }).done(function( msg ) {
                          if(msg.mtext){
                            console.log('MTEXT: '+msg.mtext);
                              $('#change_nick').prop('disabled',false);
                              console.log('DISABLED OFF');
                            //$('#nick').tooltip('destroy');
                          }
                            else{
                              console.log('no')
                             $('#nick').tooltip({title:'This nick is taken',placement:'top',trigger: 'manual'}).tooltip('show');
                             $('#change_nick').prop('disabled',true);
                            }
                          });
                        }
                        else{
                          $('#nick').tooltip({title:'Too short',placement:'top',trigger: 'manual'}).tooltip('show')
                          $('#change_nick').prop('disabled',true);
                        }
            })
           e.onpropertychange = e.oninput; // for IE8
           // e.onchange = e.oninput; // FF needs this in <select><option>...
           // other things for onload()
        };
        //--------------------------------------//
        //--------------------------------------//
        //--------------------------------------//
        onload = function () {
           $(function () {
             $('[data-toggle="tooltip"]').tooltip()
           });
           var e = document.getElementById('nick_first');
           e.oninput = (function(){
          if($('#nick_first').val()&&$('#nick_first').val().length>2){
                    var data={};
                    data.nick=$('#nick_first').val().replace(/\s{2,}/g,' ').trim();
                    $.ajax({
                        method: "POST",
                        url: "/counter/chcknck",
                        data: data
                      }).done(function( msg ) {
                          if(msg.mtext){
                            console.log('MTEXT: '+msg.mtext);
                              $('#change_nick_first').prop('disabled',false);
                              console.log('DISABLED OFF');
                            //$('#nick_first').tooltip('destroy');
                          }
                            else{
                              console.log('no')
                             $('#nick_first').tooltip({title:'This nick is taken',placement:'top',trigger: 'manual'}).tooltip('show');
                             $('#change_nick_first').prop('disabled',true);
                            }
                          });
                        }
                        else{
                          $('#nick_first').tooltip({title:'Too short',placement:'top',trigger: 'manual'}).tooltip('show')
                          $('#change_nick_first').prop('disabled',true);
                        }
            })
           e.onpropertychange = e.oninput; 
        };
        //--------------------------------------//
        //--------------------------------------//
        //--------------------------------------//
        function change_nick(mode){
          switch(mode){
          case 1:
          if($('#nick').val()){
             var data={};
             data.nick=$('#nick').val().replace(/\s{2,}/g,' ').trim();
             $('#wait').css('display','block');
             $.ajax({
                 method: "POST",
                 url: "/counter/setnick",
                 data: data
               })
                 .done(function( msg ) {
                   window.location='/counter';
                   });
                 }
          break;
          case 0:
          if($('#nick_first').val()){
             var data={};
             data.nick=$('#nick_first').val().replace(/\s{2,}/g,' ').trim();
             $('#wait').css('display','block');
             $.ajax({
                 method: "POST",
                 url: "/counter/setnick",
                 data: data
               })
                 .done(function( msg ) {
                   window.location='/counter';
                   });
                 }
          break;
          }
          };
        //--------------------------------------//
        function add_dialog() {
          $('#add_comb').modal('show');
        }
        //--------------------------------------//
        //--------------------------------------//
        //--------------------------------------//
        var settings_loaded =0;
        $('#settings_btn').click(function(){
          //$('#nick').tooltip('destroy');
          $('#settings').modal('show');
          if(!settings_loaded)
          {$.ajax({
              method: "POST",
              url: "/counter/gn/"+'#{_id}',
              data: 0
            })
              .done(function( msg ) {
                if(!msg.trouble){
                  $('#nick').prop('placeholder',msg.mtext);
                  $('#change_nick').text('Change');
                }
                });
            $.ajax({
            method: "POST",
            url: "/counter/getshowmail/"+'#{_id}',
            data: 0
          }).done(function( msg ) {
               if(msg.mtext)
               {$('#show_mail').prop('checked',true);}
             });
          settings_loaded=1;
          }
          });
        $('#backup').click(function(){
          $('#backupform').submit();
          });
        //--------------------------------------//
        //--------------------------------------//
        //--------------------------------------//
        function sortByKey(array, key) {
          return array.sort(function(a, b) {
              var x = parseInt(a[key]); var y = parseInt(b[key]);
              return ((x < y) ? 1 : ((x > y) ? -1 : 0));
          });
        }
        String.prototype.capitalizeFirstLetter = function() {
          return this.charAt(0).toUpperCase() + this.slice(1);
        }
        //--------------------------------------//
        //--------------------------------------//
        //--------------------------------------//
        var consolidated=[];
        var consolidated_teamlists=[];
        var tags=[];
        //var populated_once=0;
        //console.log('heeelooo');
        //alert("{'_id':'#{_id}'}");
        
        $.ajax({
              method: "POST",
              url: "/counter/getitems",
              data: 0
            })
              .done(function( msg ) {
                console.log('hello hello');
                if(!msg.trouble) {
                 // console.log('items: '+JSON.stringify(msg.doc));
                   items=msg.doc.itemstore;
                  if(!items ) {
                   console.log('no items');
                   }
                   else {
                    console.log('bp1');
                    items.forEach(function (element,index){
                    if(element.item_title)
                       //console.log('element pushed');
                       consolidated.push(element);        
                    });
                   }
                   if(consolidated.length){
                      console.log('bp2');
                   sortByKey(consolidated, 'tmstmp');
                   populate(consolidated);
                   }  
                }
              });
            function get_teamlist_members(_id) {
              $.ajax({
              method: "POST",
              url: "/counter/get_teamlist",
              data: {'_id':_id}
            })
              .done(function( msg ) {
                if(!msg.trouble) {
                   console.log('teamlist info: \n'+JSON.stringify(msg.doc));
                   //var users_insert='';
                   var users_arr=[];
                   get_nick(msg.doc.users,users_arr,0,get_nick);
                   //users_arr.forEach(function (element,index){
                   //  users_insert+='<div id="'+element+'">'+element+'</div> <br>';
                   // });
                   //$('#list_heading').append('<a class="badge" role="button" tabindex="0" data-placement="bottom" style="margin-left:10px;color:rgba(255,255,255,0.5);" data-toggle="popover" data-trigger="focus" title="Members"  title="Dismissible popover"><span style="margin-bottom: 4px;" class="oi oi-person"></span> '+msg.doc.users.length+'</a>');  
                   //$('[data-toggle="popover"]').popover({'html':true,'content':users_insert});
                  }
                  });
            }
            function get_nick(arr,output_arr,current_key,callback){
               $.ajax({
              method: "POST",
              url: "/counter/get_nick",
              data: {'_id':arr[current_key]}
            })
              .done(function( msg ) {
                if(!msg.trouble) {
                    //var id='#'+arr[current_key]
                    //$(id).text(msg.mtext);
                    console.log('get_nick iteration: '+msg.mtext);
                    output_arr[current_key]=msg.mtext;
                    if(current_key+1!=arr.length)
                    {current_key++;
                     callback(arr,output_arr,current_key,callback);}
                     else{
                      var users_insert='';
                      output_arr.forEach(function (element,index){
                     users_insert+='<div id="'+element+'">'+element+'</div> <br>';
                    });
                   $('#list_heading').append('<a class="badge" role="button" tabindex="0" data-placement="bottom" style="margin-left:10px;color:rgba(255,255,255,0.5);" data-toggle="popover" data-trigger="focus" title="Members"  title="Dismissible popover"><span style="margin-bottom: 4px;" class="oi oi-person"></span> '+output_arr.length+'</a>');  
                   $('[data-toggle="popover"]').popover({'html':true,'content':users_insert});
                     }
                  }
              else{
                if(current_key+1!=arr.length)
                {current_key++;
                 callback(arr,output_arr,current_key,callback);}
                 else{ 
                  var users_insert='';
                      output_arr.forEach(function (element,index){
                     users_insert+='<div id="'+element+'">'+element+'</div> <br>';
                    });
                   $('#list_heading').append('<a class="badge" role="button" tabindex="0" data-placement="bottom" style="margin-left:10px;color:rgba(255,255,255,0.5);" data-toggle="popover" data-trigger="focus" title="Members"  title="Dismissible popover"><span style="margin-bottom: 4px;" class="oi oi-person"></span> '+output_arr.length+'</a>');  
                   $('[data-toggle="popover"]').popover({'html':true,'content':users_insert});
                     }
              }
             });
            }
            $('.popover-dismiss').popover({
              trigger: 'focus'
            })
            function get_items(_id, list_name){
              consolidated=[];
              $.ajax({
              method: "POST",
              url: "/counter/getitems",
              data: {'_id':_id}
            })
              .done(function( msg ) {
                if(!msg.trouble) {
                 // console.log('items: '+JSON.stringify(msg.doc));
                  var insert ='<h4 id="list_heading_title">'+list_name+'</h4>';
                  var insert_2 ="redact_list_dialog('"+_id+"','"+list_name+"',"+msg.doc.total+")";
                  $('#list_heading').empty();
                  $('#list_heading').append(insert);
                  if(list_name!="Your items"){
                   //$('#list_stat').prepend('<button style="padding-top:5px;padding-bottom:5px;" class="btn btn-sm transparent" onclick="'+insert_2+'"><span class="oi oi-cog" title="icon name" aria-hidden="true"></span></button>');
                   $('#list_heading').append('<span class="oi oi-cog" onclick="'+insert_2+'" title="redact this list" aria-hidden="true"></span>');
                   get_teamlist_members(_id);
                  }
                  $('#tags').append('No tags, list is empty <button class="btn btn-sm" onclick="add_dialog()" id="add_item_located_in_tags">Add an item</button>');
                 var items=msg.doc.itemstore;
                  if(items.length<1 ) {
                   console.log('no items in teamlist');
                   }
                   else {
                    items.forEach(function (element,index){
                    if(element.item_title)
                       //console.log('element pushed');
                       consolidated.push(element);        
                    });
                   }
                   if(consolidated.length){
                   sortByKey(consolidated, 'tmstmp');
                   populate(consolidated);
                   //return consolidated;
                   }  
                }
              });
            }
        //--------------------------------------//
        //--------------------------------------//
        //--------------------------------------//   
        var team_lists_arr =[];
        $.ajax({
              method: "POST",
              url: "/counter/getteamlists",
              data: 0
            })
              .done(function( msg ) {
                if(!msg.trouble) {
                  if(!msg.doc ) {
                   console.log('no teamlists');
                   }
                   else {
                    msg.doc.forEach(function (element,index){
                      team_lists_arr[index]=element;
                      $('#team_lists_insert').append('<div class="row menu_item" id="'+element._id+'" onclick="open_list('+index+')">'+element.list_name+'</div>');
                    //if(element.item_title)
                    //   //console.log('element pushed');
                    //   consolidated.push(element); 
                    });
                   console.log('teamlists: '+msg.doc)
                   }
                   //if(consolidated.length){
                   //sortByKey(consolidated, 'tmstmp');
                   //populate(consolidated);
                   //}  
                }
              });
        //----------------------------//
        function trim1 (str) {
            return str.replace(/^\s\s*/, '').replace(/\s\s*$/, '');
        }
        function populate(consolidated) {
          tags=[];
          var count;
          var inarr;
          var temp_insert;
          if(consolidated.length)
          {consolidated.forEach(function (element,index){
                      var date=new Date(parseInt(element.tmstmp));
                      if(element.item_title.length>45){
                      temp_insert = element.item_title.slice(0,35)+'...';
                      }
                      else{
                        temp_insert=element.item_title;
                      }
                      var insert='<li class="list-group-item " onclick="redactitem_dialog('+index+')">'+temp_insert+"<small>"+date.getDate()+'.'+(date.getMonth()+1)+'.'+ date.getFullYear()+"</small>";
                      //var insert='<li class="list-group-item " onclick="redactitem_dialog('+index+')"><div class="col-sm-8">'+temp_insert+"<small>"+date.getDate()+'.'+(date.getMonth()+1)+'.'+ date.getFullYear()+"</small></div>";
                      if(element.item_tags.length){
                        element.item_tags.forEach(function (element_2, index_2){
                          element.item_tags[index_2]=trim1(element_2);
                        });
                        //console.log('TAGS: '+element.item_tags);
                        element.item_tags.forEach(function (element_1,index_1){
                          inarr=0;
                          insert+="<span class='badge float-right badge-primary'>"+element_1.toLowerCase()+"</span>";
                          $.each(tags, function(key, tag) {
                           if (tag.tag_name.toLowerCase() === element_1.toLowerCase()) {
                            //console.log('element_1: '+element_1+',key: '+key+'| '+tags[key]);
                           tags[key].quantity++;
                           inarr=1;
                           }
                          });
                          if(!inarr){
                            tags.push({'tag_name':element_1,'quantity':1});
                           // console.log('TAGS LENGTH: '+tags.length);
                           }
                         
                          });
                        element.item_tags.forEach(function (element_3,index_3){
                        //console.log('correcting an array: '+element.item_tags);
                        element.item_tags[index_3]=' '+element.item_tags[index_3];
                        //console.log('correcting: '+element.item_tags[index_3]);
                        });
                      }
                      insert=insert+"</li>";
                        
                      $('#main_list').append(insert);
                      });
        console.log('TAGS LENGTH BEFORE POPULATE: '+tags.length);
        if(tags.length){
          $('#tags').empty();
          sortByKey(tags,'quantity');
          tags.forEach(function (element, index){
            //console.log(element);
           $('#tags').append("<a onclick='tag_modal("+index+")' class='tag_name'>"+element.tag_name.toLowerCase()+"<span class='badge'>"+element.quantity+"</span></a>");
            });
        }
        populated_once=1;
        }
        else{
          var insert='<li class="list-group-item " >ПУСТО</li>';
                      $('#main_list').append(insert);
        }
          } 
        //var search_results_exist=0;
        var previous_search_results=[];
        function search (){
          var search_tmp=[];
          var query = $('#search_input').val().toLowerCase();
         if(query.length>3){
          consolidated.find(function (elem, index){
            //console.log('searching: '+elem.item_title+', for: '+query);
            if (elem.item_title.toLowerCase().indexOf(query) >= 0){
             // console.log('found: '+elem.item_title)
              search_tmp.push(elem.item_title);
            }
            });
           if(search_tmp&&search_tmp.length&&search_tmp!=previous_search_results){
           // $('#search_input').popover('destroy');
            console.log(' popover destroyed');
            //console.log('found smth: '+search_tmp);
            var content;
            //if(!search_results_exist)
            content="<ul id='search_results' class='list-group'>";
            search_tmp.forEach(function (element_1, index_1){
             // console.log('forming a popover');
              content+="<li class='list-group-item'>"+element_1+"</li>";
              });
            content+="</ul>";
            previous_search_results = search_tmp;
            $('#search_input').popover({'placement':'bottom','title':'Нашли','content':content,'html':true});
            $('#search_input').popover('show');
           }
        }
          }
        //----------------// 
        var typewatch = function(){
            var timer = 0;
            return function(callback, ms){
                clearTimeout (timer);
                timer = setTimeout(callback, ms);
            }  
        }();
       //=-----------------//
        function tag_modal(tags_index) {
          //console.log(tags[tags_index]);
          //find them
          mention_indexes=[];
          var results = consolidated.find(function (element,index) {
            var has_mentions;
            element.item_tags.find(function (element_1,index_1,array_1) {
              console.log('checking: '+element_1+' ? '+tags[tags_index].tag_name);
                if(trim1(element_1).toLowerCase()===trim1(tags[tags_index].tag_name.toLowerCase()))
                  {console.log('is mentioned');
                    has_mentions=1;}
              });
              if(has_mentions){
                has_mentions=0;
                mention_indexes.push(index);
              }
            });
          //show them
          if(mention_indexes){
            $('.itemlist').empty();
            mention_indexes.forEach(function (element,index){
              $('.itemlist').append('<li class="list-group-item">'+consolidated[element].item_title+'</li>');
              });
            $('#tag_name_title').text(tags[tags_index].tag_name.capitalizeFirstLetter());
            $('#tag_name_title').append('<span class="badge title_num">'+mention_indexes.length+'</span>');
            if($('body').width()<$('body').height()) {
            $('.modal-dialog').css('margin-top','20%');
            }
            else{
              $('.modal-dialog').css('margin-top','5%');
            }
            $('#tagsmodal').modal('show');
          }
          console.log(mention_indexes);
        }
        $('.item_redact').click(function() {
          $('#redact_item_dialog').slideToggle();
          })
        $('#list_redact_toggle').click(function() {
          $('#redact_list_dialog').slideToggle();
          })
        function redact_list_dialog(_id,list_name,total){
          $('#list_name_redact').empty();
          $('#list_name_redact').append(list_name+'<span class="badge title_num" id="list_size_redact">'+total+'</span>');
          $('#redact_list').modal('show');
        };
        function redactitem_dialog (i) {
          console.log('redact');
        // TODO screen blocker must be added to prevent user from interfering 
        if($('body').width()<$('body').height()) {
          $('.modal-dialog').css('margin-top','20%');
        }
        else{
          $('.modal-dialog').css('margin-top','5%');
        }
        insert_remove = 'removeitem('+i+')';
        insert_redact = 'redactitem_submit('+i+')';
        //insert2 = 'switch_movie('+i+','+old+')';
        $('.item_remove').attr('onclick',insert_remove);
        $('.item_redact_submit').attr('onclick',insert_redact);
        //$('.movie_switch').attr('onclick',insert2);
        $('.item_title').text('');
        $('#item_title_redact').val('');
        if(consolidated[i].item_link!='--'){
        $('.item_title').append('<span style="margin-right:5px;color:#ddd;font-size:15px;" class="glyphicon glyphicon-link"></span><a href="'+consolidated[i].item_link+'">'+consolidated[i].item_title.capitalizeFirstLetter()+'</a>');
        $('#item_link_redact').val(consolidated[i].item_link);
        }
        else{
          $('.item_title').text(consolidated[i].item_title.capitalizeFirstLetter());
          $('#item_title_redact').val(consolidated[i].item_title.capitalizeFirstLetter());
        }
        //$('.item_link').append('<span style="margin-right:5px;" class="glyphicon glyphicon-link"></span><a href="'+consolidated[i].item_link+'">'+consolidated[i].item_link+'</a>');
        if(!consolidated[i].item_comment||consolidated[i].item_comment=='--'){
          $('.item_comment').css('display','none');
        }
        else{
          $('.item_comment').css('display','block');
          $('.item_comment').text(consolidated[i].item_comment.capitalizeFirstLetter());
        }
        $('#item_comment_redact').val(consolidated[i].item_comment.capitalizeFirstLetter());
        $('.item_tags').text('Tags: '+consolidated[i].item_tags);
        $('#item_tags_redact').val(consolidated[i].item_tags);
         //$('.movie_switch').text('Mark as not seen');
        $('#itemmodal').modal('show');
        }
        //----------------------------//
        function removeitem(i) {
          var data={};
          data.item_title=consolidated[i].item_title;
          data.item_tmstmp=consolidated[i].tmstmp;  
         $.ajax({
              method: "POST",
              url: "/counter/rm_item/",
              data: data
                })
              .done(function( msg ) {
              //  $('#moviemodal').modal('hide');
              //  var vname = '.movie_'+movieid;
              //  $(vname).empty();
              //  var empty_row_new ='<tr class="noitemsnew"><th style="padding-left:30px !important;"> Пока пусто </th><th> -- </th></tr>';
              //  var empty_row_old ='<tr class="noitemsold"><th style="padding-left:30px !important;"> Пока пусто </th><th> -- </th></tr>';
              //  if(consolidated[movieid].newmovie){
              //    newmovies --;
              //    $('#newnum').text(newmovies);
              //    if($('#newmovies').children().length == 0){
              //      $('#newmovies').prepend(empty_row_new);
              //    }
              //  }
              //    else{
              //      seenmovies --;
              //    $('#oldnum').text(seenmovies);
              //    if($('#oldmovies').children().length == 0){
              //      $('#oldmovies').prepend(empty_row_old);
              //    }
              //    }
              window.location='/counter';
              });
        }
        //-----------------------------------//
        function redactitem_submit(i) {
          var data={};
            data.v_index=i;
            data.item_title=$('#item_title_redact').val();
            data.item_link=$('#item_link_redact').val();
            data.item_comment=$('#item_comment_redact').val();
            data.item_tags=$('#item_tags_redact').val();
            data.item_tmstmp=consolidated[i].tmstmp;
        $.ajax({
              method: "POST",
              url: "/counter/rd_item/",
              data: data
              }).done(function( msg ) {
              //  $('#moviemodal').modal('hide');
              //  var vname = '.movie_'+movieid;
              //  $(vname).empty();
              //  var empty_row_new ='<tr class="noitemsnew"><th style="padding-left:30px !important;"> Пока пусто </th><th> -- </th></tr>';
              //  var empty_row_old ='<tr class="noitemsold"><th style="padding-left:30px !important;"> Пока пусто </th><th> -- </th></tr>';
              //  if(consolidated[movieid].newmovie){
              //    newmovies --;
              //    $('#newnum').text(newmovies);
              //    if($('#newmovies').children().length == 0){
              //      $('#newmovies').prepend(empty_row_new);
              //    }
              //  }
              //    else{
              //      seenmovies --;
              //    $('#oldnum').text(seenmovies);
              //    if($('#oldmovies').children().length == 0){
              //      $('#oldmovies').prepend(empty_row_old);
              //    }
              //    }
              window.location='/counter';
              });
        }
        //-----------------------------------//
        function removebook(i) {
          var data={};
          data.item_id=consolidated[i].item_title;
          data.item_id=consolidated[i].item_link;
        $.ajax({
              method: "POST",
              url: "/counter/rm_item/",
              data: data
            })
              .done(function( msg ) {
              window.location='/counter';
              });
        } 
        //---------------------------//
        function submit_item(list_index){
          var item_title;
          var comment;
          var link;
          var tags;
        if($('#item_title').val() )//what if I dont know year yet?
        {
          $('#add').fadeOut(350);
          $('#wait').css('display','block');
          //-------------
           var data={};
           data.item_title = $('#item_title').val();
           data.item_link = $('#item_link').val();
           data.item_comment = $('#item_comment').val();
           data.item_tags = $('#item_tags').val();
           data.list_id = list_index>-1?team_lists_arr[list_index]._id:0;
           //console.log(JSON.stringify(data));
          $.ajax({
              method: "POST",
              url: "/counter/additem",
              data: data
            })
              .done(function( msg ) {
                window.location='/counter';
              });
          }
        }
        var friends_loaded=0;
        var friends_consolidated=[];
        //function getfriends() {
          //---------------------------//
        //var friends;
        //if(!friends_loaded)
        //{$.ajax({
        //     method: "POST",
        //     url: "/counter/getfriends",
        //     data: 0
        //   })
        //     .done(function( msg ) {
        //       if(!msg.trouble) {
        //         console.log('movies: '+JSON.stringify(msg.doc));
        //          friends=msg.doc;
        //         if(!friends || friends.friendstore.length===0) {
        //          console.log('no friends');
        //          $('#friendsnum').text(0);
        //          $('#friends').modal('show');
        //          friends_loaded=1;
        //          }
        //          else {
        //           friends = msg.doc.total;
        //           $('#friendsnum').text(friends);
        //           msg.doc.friendstore.forEach(function (element,index){
        //               friends_consolidated.push(element);
        //           });
        //          }
        //          if(friends_consolidated.length){
        //          sortByKey(friends_consolidated, 'tmstmp');
        //          populate_friends(friends_consolidated);
        //          friends_loaded=1;
        //          $('#friends').modal('show');
        //        }
        //       }
        //     });}
        //     else {
        //       $('#friends').modal('show');
        //     }
        //    }
        //---------------------------//
        //----------------------------//
        //hiding popover on outside click
        $(document).on('click', function (e) {
            $('[data-toggle="popover"],[data-original-title]').each(function () {
                //the 'is' for buttons that trigger popups
                //the 'has' for icons within a button that triggers a popup
                if (!$(this).is(e.target) && $(this).has(e.target).length === 0 && $('.popover').has(e.target).length === 0) {                
                    (($(this).popover('hide').data('bs.popover')||{}).inState||{}).click = false  // fix for BS 3.3.6
                }
        
            });
        });
        function add_team_list(){
          var teamlist_name;
          
        if($('#list_name').val() )//what if I dont know year yet?
        {
          $('#add').fadeOut(350);
          $('#wait').css('display','block');
          //-------------
           var data={};
           data.teamlistname = $('#list_name').val();
           
          $.ajax({
              method: "POST",
              url: "/counter/newteamlist",
              data: data
            })
              .done(function( msg ) {
                window.location='/counter';
              });
          }
          else{
            alert('no name provided');
          }
        }
        function open_list(list_index){
          //console.log('open_list');
          if(list_index<0){
            //console.log('trying to open "your items"');
            if(!$('#your_items').hasClass('selected')){
              //console.log('opening "your items"');
              $('#main_list').empty();
              $('#tags').empty();
              $('.menu_item').removeClass('selected');
              $('#your_items').addClass('selected');
              $('#list_heading').empty();
              $('#list_heading').append('<h4 id="list_heading_title">Your items</h4>');
              $('#submit_item_button').attr('onclick','submit_item('+list_index+')');
              //populate(consolidated);
              get_items(0,'Your items');
            }
          }
            else{
          var list_id_jq='#'+team_lists_arr[list_index]._id;
          if(!$(list_id_jq).hasClass('selected'))
         {$('#main_list').empty();
          $('#tags').empty();
          $('.menu_item').removeClass('selected');
          $(list_id_jq).addClass('selected');
          $('#submit_item_button').attr('onclick','submit_item('+list_index+')');
          get_items(team_lists_arr[list_index]._id,team_lists_arr[list_index].list_name);}
           }

        }
        //function load_team_lists(team_lists_arr){
        //  team_lists_arr.forEach(function (element,index){
        //      
        //    });
        //}
        
      
        
        
        
        
        
      